<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  bootstrap="bootstrap.php"
  colors="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage/>
  <testsuites>
    <testsuite name="Logon">
      <directory suffix="Test.php">Logon</directory>
    </testsuite>
    <testsuite name="Contacts">
      <directory suffix="Test.php">Contacts</directory>
    </testsuite>
    <testsuite name="Settings">
      <directory suffix="Test.php">Settings</directory>
    </testsuite>
    <testsuite name="Mail">
      <directory suffix="Test.php">Mail</directory>
    </testsuite>
    <testsuite name="Plugins">
      <directory suffix="Test.php">../../plugins/*/tests/Browser</directory>
    </testsuite>
  </testsuites>
</phpunit>
