
// Left menu
@taskmenu-background-color:         #222;
@taskmenu-action-button-color:      #ffffb3;
@taskmenu-special-button-color:     grey;
@taskmenu-logout-button-hover-color: red;

// Layout elements
@layout-border-color:               #ddd;
@layout-sidebar-background-color:   #fff;
@layout-list-background-color:      #fff;
@layout-content-background-color:   #fff;
@layout-header-background-color:    #f9f9f9;


@badge-font-color:                  #fff;
@searchbar-icon-active-color:       green;


// List widget
@list-color:                        black;
@list-selected-color:               inherit;
@list-selected-color-background:    #f9f9f9;

// Drag-n-drop layer
@drag-layer-color:                  white;
@drag-layer-color-background:       #444;