@import (reference) "fontawesome.less";
@import (reference) "colors.less";
@import "layout.less";
@import "widgets.less";
@import "icons.less";


/*** Login form ***/

.task-login #content {
	text-align: center;
	width: 100%;
	background: url(../images/watermark.jpg) center -20px no-repeat;
}

#login-form {
	margin: auto;
	width: 95%;
	max-width: 320px;
}

#login-form table {
	display: none;
}

#login-form div.ui.input {
	width: 100%;
	margin-bottom: 1em;
}


/**** Styles for widescreen (3-column) view ****/
/* copied from larry removing .widescreen prefix */


.messagelist > thead,
.messagelist .branch,
table.fixedcopy {
	display: none;
}

.messagelist td {
	border-left: 0;
	vertical-align: top;
}

.messagelist td.subject {
	width: 99%;
	white-space: wrap;
	position: relative; /* for span.date positioning in Firefox */
}

.messagelist td.threads {
	width: 20px;
	vertical-align: bottom;
}

.messagelist td.threads div {
	padding-bottom: 1px;
}

.messagelist td.flags {
	width: 22px;
}

.messagelist td.subject span {
	line-height: 2em;
}

.messagelist td.subject span.date {
	right: 2px;
	top: 3px;
	position: absolute;
	color: #666; /* TODO */
}

.messagelist td.subject span.fromto {
	padding-left: 1.5em;
	display: block;
	margin-right: 10em;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666; /* TODO */
}

.messagelist tr.flagged td.subject span.date,
.messagelist tr.flagged td.subject span.fromto {
	color: #ff5c33; /* TODO */
}

.messagelist tr.deleted td.subject span.date,
.messagelist tr.deleted td.subject span.fromto {
	color: #ccc; /* TODO */
}

.messagelist td.subject span.subject {
	clear: both;
	display: block;
	font-size: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.messagelist td.flags span {
	width: 20px;
	height: 20px;
	display: block;
	margin-left: 1px;
}

.messagelist td.flags span.flag {
	cursor: pointer;
}

.messagelist tr td.subject span.msgicon,
.messagelist tr td.subject span.unreadchildren {
	width: 20px;
	height: 20px;
}
