/*** Common UI elements ***/

#uploadform,
.ui.popup,
.voice {
    display: none;
}

body.iframe .formcontent {
    padding: 1em;
}

body.iframe .formbuttons {
    padding: 0 1em 1em 1em;
}

.ui.alert {
    margin: 0;
    margin-bottom: 0.2em;
    opacity: 0.95;
    float: left;
    width: 100%;
    padding-left: 0.75em;
}

.ui.alert > i.icon:before {
    height: 1em;
    width: 1em;
    line-height: 1em;
}

.ui-dialog iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.ui-dialog-content.iframe {
    padding: 0 !important;
    overflow: hidden !important;
}

.ui.popup {
    padding: 0;
    min-width: 180px;
}

a.listbutton,
a.rcmaddcontact {
    text-decoration: none;
}

.button.disabled {
    opacity: 0.5;
}

a.button {
    text-decoration: none;
}


.header > .buttons > input.button {
    padding: 0.3em 0.8em;
    font-size: 1em;
}

.header > .buttons > button.btn {
    color: @layout-header-button-color;
    background-color: transparent;
    border: 0;
    padding: 0 0.25em;
    font-size: 1em;
    height: 2.5em;
    line-height: 1.25em;
    border-radius: 0;
    cursor: pointer;
}


#rcmdraglayer {
    min-width: 260px;
    width: auto !important;
    width: 260px;
    background: @drag-layer-color-background;
    z-index: 250;
    color: @drag-layer-color;
    white-space: nowrap;
    opacity: 0.92;
}


.listbox .scroller {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


#folder-selector {
    overflow-y: auto;
}

#folder-selector li a.virtual {
    opacity: .2;
}


.formbuttons button.btn:before {
    font-size: 1em;
}


div.popover-content {
    padding: 0;
}

div.popover > h3 {
    display: none;
}


@import "widgets/taskmenu.less";
@import "widgets/messagestack.less";
@import "widgets/toolbar.less";
@import "widgets/searchbar.less";
@import "widgets/lists.less";
@import "widgets/folderlist.less";
@import "widgets/messagelist.less";
@import "widgets/googiespell.less";
