# ignore files added to these directories
logs/*
temp/*
config/*
plugins/*/config.inc.php

# this is for the sample plugin (via composer)
plugins/rcsample
plugins/plugin_manager

# composer-related
composer.json
composer.phar
composer.lock
vendor

# javascript dependencies
plugins/enigma/openpgp.min.js
plugins/managesieve/codemirror/
program/js/jquery.min.js
program/js/jstz.min.js
program/js/publickey.js
program/js/tinymce/

# skin customization files
skins/elastic/styles/_styles.less
skins/elastic/styles/_variables.less
