# AddDefaultCharset	UTF-8
php_flag	display_errors	Off
php_value	upload_max_filesize	2M

<FilesMatch "(\.inc|\~)$|^_">
  Order allow,deny
  Deny from all
</FilesMatch>

Order deny,allow
Allow from all
