parameters:
	ignoreErrors:
		-
			message: "#^Method HTTPSocket\\:\\:fetch_header\\(\\) should return array but returns string\\.$#"
			count: 1
			path: plugins/password/drivers/directadmin.php

		-
			message: "#^Method HTTPSocket\\:\\:get\\(\\) should return string but returns array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: plugins/password/drivers/directadmin.php

		-
			message: "#^Method HTTPSocket\\:\\:get\\(\\) should return string but returns false\\.$#"
			count: 1
			path: plugins/password/drivers/directadmin.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: plugins/password/drivers/domainfactory.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 1
			path: plugins/password/drivers/dovecot_passwdfile.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: plugins/password/drivers/ldap.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 1
			path: plugins/password/drivers/ldap_samba_ad.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$entry does not exist\\.$#"
			count: 1
			path: plugins/password/drivers/ldap_simple.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$ret does not exist\\.$#"
			count: 1
			path: plugins/password/drivers/modoboa.php

		-
			message: "#^Call to function is_array\\(\\) with false will always evaluate to false\\.$#"
			count: 1
			path: plugins/password/drivers/plesk.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: plugins/password/drivers/plesk.php

		-
			message: "#^Method plesk_rpc\\:\\:change_mailbox_password\\(\\) should return bool but returns array\\<string, int\\|string\\>\\|string\\.$#"
			count: 1
			path: plugins/password/drivers/plesk.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: plugins/password/drivers/plesk.php

		-
			message: "#^Strict comparison using \\=\\=\\= between \\(SimpleXMLElement\\|null\\) and 'error' will always evaluate to false\\.$#"
			count: 1
			path: plugins/password/drivers/plesk.php

		-
			message: "#^Loose comparison using \\=\\= between 1 and 1 will always evaluate to true\\.$#"
			count: 1
			path: plugins/password/drivers/pwned.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: plugins/password/drivers/sql.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 2
			path: plugins/password/drivers/sql.php

		-
			message: "#^Method rcube_zxcvbn_password\\:\\:check_strength\\(\\) should return array but empty return statement found\\.$#"
			count: 1
			path: plugins/password/drivers/zxcvbn.php

		-
			message: "#^Method password\\:\\:hash_password\\(\\) should return string but returns false\\.$#"
			count: 2
			path: plugins/password/password.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 1
			path: plugins/password/password.php

		-
			message: "#^Foreach overwrites \\$cid with its value variable\\.$#"
			count: 1
			path: program/actions/contacts/copy.php

		-
			message: "#^Access to an undefined property rcube_addressbook\\:\\:\\$deletable\\.$#"
			count: 1
			path: program/actions/contacts/delete.php

		-
			message: "#^Offset 0 does not exist on array\\{\\}\\.$#"
			count: 1
			path: program/actions/contacts/import.php

		-
			message: "#^Call to function is_array\\(\\) with array will always evaluate to true\\.$#"
			count: 1
			path: program/actions/contacts/index.php

		-
			message: "#^Method rcmail_action_contacts_index\\:\\:contact_source\\(\\) should return rcube_addressbook but returns null\\.$#"
			count: 1
			path: program/actions/contacts/index.php

		-
			message: "#^Access to an undefined property rcube_addressbook\\:\\:\\$deletable\\.$#"
			count: 1
			path: program/actions/contacts/move.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: program/actions/contacts/print.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: program/actions/contacts/save.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: program/actions/contacts/save.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$fields might not exist\\.$#"
			count: 1
			path: program/actions/contacts/search.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: program/actions/contacts/search_create.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: program/actions/mail/attachment_upload.php

		-
			message: "#^Access to an undefined property rcube_message\\:\\:\\$size\\.$#"
			count: 1
			path: program/actions/mail/compose.php

		-
			message: "#^Comparison operation \"\\>\" between int\\<1, max\\> and 0 is always true\\.$#"
			count: 1
			path: program/actions/mail/compose.php

		-
			message: "#^Instanceof between rcube_message_part and rcube_message_part will always evaluate to true\\.$#"
			count: 1
			path: program/actions/mail/compose.php

		-
			message: "#^Loose comparison using \\=\\= between 'edit' and 'edit' will always evaluate to true\\.$#"
			count: 1
			path: program/actions/mail/compose.php

		-
			message: "#^Static property rcmail_action_mail_compose\\:\\:\\$MESSAGE \\(rcube_message\\|null\\) does not accept stdClass\\.$#"
			count: 1
			path: program/actions/mail/compose.php

		-
			message: "#^Foreach overwrites \\$uids with its value variable\\.$#"
			count: 1
			path: program/actions/mail/copy.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: program/actions/mail/group_expand.php

		-
			message: "#^Foreach overwrites \\$m with its value variable\\.$#"
			count: 1
			path: program/actions/mail/index.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$roots might not exist\\.$#"
			count: 1
			path: program/actions/mail/index.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: program/actions/mail/index.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: program/actions/mail/index.php

		-
			message: "#^Foreach overwrites \\$mbox with its key variable\\.$#"
			count: 4
			path: program/actions/mail/mark.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$result does not exist\\.$#"
			count: 1
			path: program/actions/mail/send.php

		-
			message: "#^Call to function is_array\\(\\) with array\\<rcube_message_part\\> will always evaluate to true\\.$#"
			count: 1
			path: program/actions/mail/show.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$attrib does not exist\\.$#"
			count: 2
			path: program/actions/mail/show.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$vars does not exist\\.$#"
			count: 1
			path: program/actions/mail/show.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: program/actions/mail/show.php

		-
			message: "#^For loop initial assignment overwrites variable \\$i\\.$#"
			count: 1
			path: program/actions/settings/folders.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: program/actions/settings/folders.php

		-
			message: "#^Strict comparison using \\!\\=\\= between mixed and false will always evaluate to true\\.$#"
			count: 1
			path: program/actions/settings/identity_delete.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$sections does not exist\\.$#"
			count: 1
			path: program/actions/settings/index.php

		-
			message: "#^Method rcmail_action_settings_index\\:\\:get_skins\\(\\) should return array but returns false\\.$#"
			count: 1
			path: program/actions/settings/index.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$params does not exist\\.$#"
			count: 1
			path: program/actions/utils/html2text.php

		-
			message: "#^Parameter \\#1 \\$browser \\(Tests\\\\Browser\\\\Browser\\) of method Tests\\\\Browser\\\\Components\\\\App\\:\\:assert\\(\\) should be contravariant with parameter \\$browser \\(Laravel\\\\Dusk\\\\Browser\\) of method Laravel\\\\Dusk\\\\Component\\:\\:assert\\(\\)$#"
			count: 1
			path: tests/Browser/Components/App.php

		-
			message: "#^Parameter \\#1 \\$browser \\(Tests\\\\Browser\\\\Browser\\) of method Tests\\\\Browser\\\\Components\\\\Dialog\\:\\:assert\\(\\) should be contravariant with parameter \\$browser \\(Laravel\\\\Dusk\\\\Browser\\) of method Laravel\\\\Dusk\\\\Component\\:\\:assert\\(\\)$#"
			count: 1
			path: tests/Browser/Components/Dialog.php

		-
			message: "#^Parameter \\#1 \\$browser \\(Tests\\\\Browser\\\\Browser\\) of method Tests\\\\Browser\\\\Components\\\\HtmlEditor\\:\\:assert\\(\\) should be contravariant with parameter \\$browser \\(Laravel\\\\Dusk\\\\Browser\\) of method Laravel\\\\Dusk\\\\Component\\:\\:assert\\(\\)$#"
			count: 1
			path: tests/Browser/Components/HtmlEditor.php

		-
			message: "#^Parameter \\#1 \\$browser \\(Tests\\\\Browser\\\\Browser\\) of method Tests\\\\Browser\\\\Components\\\\Popupmenu\\:\\:assert\\(\\) should be contravariant with parameter \\$browser \\(Laravel\\\\Dusk\\\\Browser\\) of method Laravel\\\\Dusk\\\\Component\\:\\:assert\\(\\)$#"
			count: 1
			path: tests/Browser/Components/Popupmenu.php

		-
			message: "#^Parameter \\#1 \\$browser \\(Tests\\\\Browser\\\\Browser\\) of method Tests\\\\Browser\\\\Components\\\\RecipientInput\\:\\:assert\\(\\) should be contravariant with parameter \\$browser \\(Laravel\\\\Dusk\\\\Browser\\) of method Laravel\\\\Dusk\\\\Component\\:\\:assert\\(\\)$#"
			count: 1
			path: tests/Browser/Components/RecipientInput.php

		-
			message: "#^Parameter \\#1 \\$browser \\(Tests\\\\Browser\\\\Browser\\) of method Tests\\\\Browser\\\\Components\\\\Taskmenu\\:\\:assert\\(\\) should be contravariant with parameter \\$browser \\(Laravel\\\\Dusk\\\\Browser\\) of method Laravel\\\\Dusk\\\\Component\\:\\:assert\\(\\)$#"
			count: 1
			path: tests/Browser/Components/Taskmenu.php

		-
			message: "#^Parameter \\#1 \\$browser \\(Tests\\\\Browser\\\\Browser\\) of method Tests\\\\Browser\\\\Components\\\\Toolbarmenu\\:\\:assert\\(\\) should be contravariant with parameter \\$browser \\(Laravel\\\\Dusk\\\\Browser\\) of method Laravel\\\\Dusk\\\\Component\\:\\:assert\\(\\)$#"
			count: 1
			path: tests/Browser/Components/Toolbarmenu.php
