parameters:
    level: 2
    paths:
        - .
    excludePaths:
        - vendor

    ignoreErrors:
        - '~class (GSSAPIContext|KRB5CCache)~'

    scanFiles:
        - vendor/pear/pear-core-minimal/src/PEAR.php
