<phpunit backupGlobals="false"
    bootstrap="bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="Mail">
            <file>Login.php</file><!-- Login.php test must be first -->
            <file>Mail/Mail.php</file>
            <file>Mail/CheckRecent.php</file>
            <file>Mail/Compose.php</file>
            <file>Mail/Getunread.php</file>
            <file>Mail/List.php</file>
            <file>Logout.php</file><!-- Logout.php test must be last -->
        </testsuite>
        <testsuite name="Addressbook">
            <file>Login.php</file>
            <file>Addressbook/Addressbook.php</file>
            <file>Addressbook/Import.php</file>
            <file>Logout.php</file>
        </testsuite>
        <testsuite name="Settings">
            <file>Login.php</file>
            <file>Settings/About.php</file>
            <file>Settings/Folders.php</file>
            <file>Settings/Identities.php</file>
            <file>Settings/Settings.php</file>
            <file>Logout.php</file>
        </testsuite>
    </testsuites>
</phpunit>
