<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="iframe">

<h1 class="boxtitle"><roundcube:label name="folderproperties" /></h1>

<div class="boxcontent">
<roundcube:object name="folderdetails" class="propform" />
</div>

<div class="footerleft formbuttons">
	<roundcube:button command="save" type="input" class="button mainaction" label="save" />
	<roundcube:if condition="!strlen(request:_mbox)" />
	<input type="button" value="<roundcube:label name="cancel" />" class="button" onclick="history.back()" />&nbsp;
	<roundcube:endif />
</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
