<?xml version="1.0"?>
<phpunit
  bootstrap="bootstrap.php"
  colors="true"
  convertDeprecationsToExceptions="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
  <coverage>
    <include>
      <directory>../program/lib</directory>
      <directory>../program/include</directory>
      <directory>../program/actions</directory>
      <directory>../plugins</directory>
    </include>
  </coverage>
  <extensions>
    <extension class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
  </extensions>
  <testsuites>
    <testsuite name="tests">
      <directory>.</directory>
      <exclude>Browser</exclude>
    </testsuite>
    <testsuite name="plugins">
      <directory>../plugins/acl/tests</directory>
      <directory>../plugins/additional_message_headers/tests</directory>
      <directory>../plugins/archive/tests</directory>
      <directory>../plugins/attachment_reminder/tests</directory>
      <directory>../plugins/autologon/tests</directory>
      <directory>../plugins/autologout/tests</directory>
      <directory>../plugins/database_attachments/tests</directory>
      <directory>../plugins/debug_logger/tests</directory>
      <directory>../plugins/emoticons/tests</directory>
      <directory>../plugins/enigma/tests</directory>
      <directory>../plugins/example_addressbook/tests</directory>
      <directory>../plugins/filesystem_attachments/tests</directory>
      <directory>../plugins/help/tests</directory>
      <directory>../plugins/hide_blockquote/tests</directory>
      <directory>../plugins/http_authentication/tests</directory>
      <directory>../plugins/identicon/tests</directory>
      <directory>../plugins/identity_select/tests</directory>
      <directory>../plugins/jqueryui/tests</directory>
      <directory>../plugins/krb_authentication/tests</directory>
      <directory>../plugins/managesieve/tests</directory>
      <directory>../plugins/markasjunk/tests</directory>
      <directory>../plugins/new_user_dialog/tests</directory>
      <directory>../plugins/new_user_identity/tests</directory>
      <directory>../plugins/newmail_notifier/tests</directory>
      <directory>../plugins/password/tests</directory>
      <directory>../plugins/reconnect/tests</directory>
      <directory>../plugins/redundant_attachments/tests</directory>
      <directory>../plugins/show_additional_headers/tests</directory>
      <directory>../plugins/squirrelmail_usercopy/tests</directory>
      <directory>../plugins/subscriptions_option/tests</directory>
      <directory>../plugins/userinfo/tests</directory>
      <directory>../plugins/vcard_attachments/tests</directory>
      <directory>../plugins/virtuser_file/tests</directory>
      <directory>../plugins/virtuser_query/tests</directory>
      <directory>../plugins/zipdownload/tests</directory>
      <exclude>../plugins/*/tests/Browser</exclude>
    </testsuite>
  </testsuites>
</phpunit>
