<phpunit backupGlobals="false"
    bootstrap="bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="All Tests">
            <file>Framework/BaseReplacer.php</file>
            <file>Framework/Bootstrap.php</file>
            <file>Framework/Browser.php</file>
            <file>Framework/Cache.php</file>
            <file>Framework/CacheShared.php</file>
            <file>Framework/Charset.php</file>
            <file>Framework/Config.php</file>
            <file>Framework/Contacts.php</file>
            <file>Framework/ContentFilter.php</file>
            <file>Framework/Csv2vcard.php</file>
            <file>Framework/DB.php</file>
            <file>Framework/DBMssql.php</file>
            <file>Framework/DBMysql.php</file>
            <file>Framework/DBOracle.php</file>
            <file>Framework/DBPgsql.php</file>
            <file>Framework/DBSqlite.php</file>
            <file>Framework/DBSqlsrv.php</file>
            <file>Framework/Enriched.php</file>
            <file>Framework/Html.php</file>
            <file>Framework/Html2text.php</file>
            <file>Framework/Imap.php</file>
            <file>Framework/ImapCache.php</file>
            <file>Framework/ImapGeneric.php</file>
            <file>Framework/ImapSearch.php</file>
            <file>Framework/Image.php</file>
            <file>Framework/Ldap.php</file>
            <file>Framework/LdapGeneric.php</file>
            <file>Framework/MessageHeader.php</file>
            <file>Framework/MessagePart.php</file>
            <file>Framework/Mime.php</file>
            <file>Framework/Rcube.php</file>
            <file>Framework/ResultIndex.php</file>
            <file>Framework/ResultMultifolder.php</file>
            <file>Framework/ResultSet.php</file>
            <file>Framework/ResultThread.php</file>
            <file>Framework/Smtp.php</file>
            <file>Framework/SpellcheckAtd.php</file>
            <file>Framework/SpellcheckEnchant.php</file>
            <file>Framework/SpellcheckGoogie.php</file>
            <file>Framework/SpellcheckPspell.php</file>
            <file>Framework/Spellchecker.php</file>
            <file>Framework/StringReplacer.php</file>
            <file>Framework/Text2Html.php</file>
            <file>Framework/User.php</file>
            <file>Framework/Utils.php</file>
            <file>Framework/VCard.php</file>
            <file>Framework/Washtml.php</file>
            <file>MailFunc.php</file>
            <file>RcmailFunc.php</file>
        </testsuite>
        <testsuite name="Plugins Tests">
            <file>./../plugins/acl/tests/Acl.php</file>
            <file>./../plugins/additional_message_headers/tests/AdditionalMessageHeaders.php</file>
            <file>./../plugins/archive/tests/Archive.php</file>
            <file>./../plugins/autologon/tests/Autologon.php</file>
            <file>./../plugins/database_attachments/tests/DatabaseAttachments.php</file>
            <file>./../plugins/debug_logger/tests/DebugLogger.php</file>
            <file>./../plugins/emoticons/tests/Emoticons.php</file>
            <file>./../plugins/emoticons/tests/EmoticonsEngine.php</file>
            <file>./../plugins/enigma/tests/Enigma.php</file>
            <file>./../plugins/example_addressbook/tests/ExampleAddressbook.php</file>
            <file>./../plugins/filesystem_attachments/tests/FilesystemAttachments.php</file>
            <file>./../plugins/help/tests/Help.php</file>
            <file>./../plugins/hide_blockquote/tests/HideBlockquote.php</file>
            <file>./../plugins/http_authentication/tests/HttpAuthentication.php</file>
            <file>./../plugins/identicon/tests/Identicon.php</file>
            <file>./../plugins/identity_select/tests/IdentitySelect.php</file>
            <file>./../plugins/jqueryui/tests/Jqueryui.php</file>
            <file>./../plugins/krb_authentication/tests/KrbAuthentication.php</file>
            <file>./../plugins/managesieve/tests/Managesieve.php</file>
            <file>./../plugins/managesieve/tests/Parser.php</file>
            <file>./../plugins/managesieve/tests/Tokenizer.php</file>
            <file>./../plugins/managesieve/tests/Vacation.php</file>
            <file>./../plugins/markasjunk/tests/Markasjunk.php</file>
            <file>./../plugins/new_user_dialog/tests/NewUserDialog.php</file>
            <file>./../plugins/new_user_identity/tests/NewUserIdentity.php</file>
            <file>./../plugins/newmail_notifier/tests/NewmailNotifier.php</file>
            <file>./../plugins/password/tests/Password.php</file>
            <file>./../plugins/redundant_attachments/tests/RedundantAttachments.php</file>
            <file>./../plugins/show_additional_headers/tests/ShowAdditionalHeaders.php</file>
            <file>./../plugins/squirrelmail_usercopy/tests/Squirrelmail_usercopy.php</file>
            <file>./../plugins/subscriptions_option/tests/SubscriptionsOption.php</file>
            <file>./../plugins/userinfo/tests/Userinfo.php</file>
            <file>./../plugins/vcard_attachments/tests/VcardAttachments.php</file>
            <file>./../plugins/virtuser_file/tests/VirtuserFile.php</file>
            <file>./../plugins/virtuser_query/tests/VirtuserQuery.php</file>
            <file>./../plugins/zipdownload/tests/Zipdownload.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../program/lib</directory>
        </whitelist>
    </filter>
</phpunit>
