<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  bootstrap="bootstrap.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">../program/lib</directory>
      <directory suffix=".php">../program/include</directory>
      <directory suffix=".php">../program/actions</directory>
      <directory suffix=".php">../plugins</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Framework">
      <directory suffix=".php">Framework</directory>
    </testsuite>
    <testsuite name="Roundcube">
      <directory suffix=".php">Rcmail</directory>
    </testsuite>
    <testsuite name="Actions">
      <directory suffix=".php">Actions/*</directory>
    </testsuite>
    <testsuite name="Plugins">
      <file>./../plugins/acl/tests/Acl.php</file>
      <file>./../plugins/additional_message_headers/tests/AdditionalMessageHeaders.php</file>
      <file>./../plugins/archive/tests/Archive.php</file>
      <file>./../plugins/attachment_reminder/tests/AttachmentReminder.php</file>
      <file>./../plugins/autologon/tests/Autologon.php</file>
      <file>./../plugins/autologout/tests/Autologout.php</file>
      <file>./../plugins/database_attachments/tests/DatabaseAttachments.php</file>
      <file>./../plugins/debug_logger/tests/DebugLogger.php</file>
      <file>./../plugins/emoticons/tests/Emoticons.php</file>
      <directory suffix=".php">./../plugins/enigma/tests</directory>
      <file>./../plugins/example_addressbook/tests/ExampleAddressbook.php</file>
      <file>./../plugins/filesystem_attachments/tests/FilesystemAttachments.php</file>
      <file>./../plugins/help/tests/Help.php</file>
      <file>./../plugins/hide_blockquote/tests/HideBlockquote.php</file>
      <file>./../plugins/http_authentication/tests/HttpAuthentication.php</file>
      <file>./../plugins/identicon/tests/Identicon.php</file>
      <file>./../plugins/identicon/tests/IdenticonEngine.php</file>
      <file>./../plugins/identity_select/tests/IdentitySelect.php</file>
      <file>./../plugins/jqueryui/tests/Jqueryui.php</file>
      <file>./../plugins/krb_authentication/tests/KrbAuthentication.php</file>
      <directory suffix=".php">./../plugins/managesieve/tests</directory>
      <file>./../plugins/markasjunk/tests/Markasjunk.php</file>
      <file>./../plugins/new_user_dialog/tests/NewUserDialog.php</file>
      <file>./../plugins/new_user_identity/tests/NewUserIdentity.php</file>
      <file>./../plugins/newmail_notifier/tests/NewmailNotifier.php</file>
      <file>./../plugins/password/tests/Password.php</file>
      <file>./../plugins/redundant_attachments/tests/RedundantAttachments.php</file>
      <file>./../plugins/show_additional_headers/tests/ShowAdditionalHeaders.php</file>
      <file>./../plugins/squirrelmail_usercopy/tests/SquirrelmailUsercopy.php</file>
      <file>./../plugins/subscriptions_option/tests/SubscriptionsOption.php</file>
      <file>./../plugins/userinfo/tests/Userinfo.php</file>
      <file>./../plugins/vcard_attachments/tests/VcardAttachments.php</file>
      <file>./../plugins/virtuser_file/tests/VirtuserFile.php</file>
      <file>./../plugins/virtuser_query/tests/VirtuserQuery.php</file>
      <file>./../plugins/zipdownload/tests/Zipdownload.php</file>
    </testsuite>
  </testsuites>
</phpunit>
