<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<roundcube:if condition="env:framed" />
	<body class="iframe">
<roundcube:else />
	<body>
	<roundcube:include file="/includes/taskbar.html" />
	<roundcube:include file="/includes/header.html" />
<roundcube:endif />

<roundcube:if condition="env:task == 'settings' &amp;&amp; !env:framed" />
  <roundcube:include file="/includes/settingstabs.html" />
<roundcube:endif />

<roundcube:if condition="!env:framed" />
	<div id="mainscreen">
<roundcube:endif />

<roundcube:object name="plugin.body" />

<roundcube:if condition="!env:framed" />
	</div>
<roundcube:endif />

<roundcube:object name="plugin.footer" />

</body>
</html>
