/*** List and treelist widgets ***/

table.listing {
    width: 100%;
    table-layout: fixed;
}

.listing tbody td,
.listing li {
    display: block;
    border-bottom: 1px solid #f4f4f4;
    cursor: default;
    font-weight: normal;
}

.listing tbody td,
.listing li a {
    display: block;
    text-decoration: none;
    cursor: default;
    padding: 0 0.5em;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 2.4em;
    color: @list-color;
}

.listing tbody td {
    display: table-cell;
    outline: none;
}

.listing li.selected,
.listing tr.selected td {
    color: @list-selected-color;
    background-color: @list-selected-color-background;
}

.listing td.selection {
    padding: 0 1em;
    width: 3em;
    text-align: center;
}

.listing td.selection > input {
    vertical-align: middle;
}

ul.listing {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.listing li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

ul.listing li ul {
    border-top: 1px solid #f4f4f4;
    padding-left: 1.5em;
}

ul.listing li ul li:last-child {
    border-bottom: none;
}

ul.listing li input[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0.2em;
    height: 2.4em;
    vertical-align: middle;
}


ul.treelist li div.treetoggle {
    position: absolute;
    top: 1.2em;
    left: 1.3em;
    width: 0.8em;
    height: 0.8em;
    line-height: 0.8em;
    cursor: pointer;
}

/* icons */

.listing.iconized tr td:before,
.listing.iconized li a:before,
.listing.iconized li > i:before,
ul.treelist li div.treetoggle:before {
    &:extend(.font-icon-class);
}

.listing.iconized li.preferences > a:before {
    content: @fa-var-sliders;
}
.listing.iconized li.folders > a:before {
    content: @fa-var-folder;
}
.listing.iconized li.responses > a:before {
    content: @fa-var-comment;
}
.listing.iconized li.identities > a:before {
    content: @fa-var-at;
}
.listing.iconized li.password > a:before {
    content: @fa-var-lock;
}
.listing.iconized li.addressbook a:before {
    content: @fa-var-book;
}
.listing.iconized li.contactgroup a:before {
    content: @fa-var-group;
}
.listing.iconized li.contactsearch a:before {
    content: @fa-var-search;
}
.listing.iconized tr.contact.person td.name:before {
    content: @fa-var-user;
}
.listing.iconized tr.general > td.section:before {
    content: @fa-var-desktop;
}
.listing.iconized tr.mailbox > td.section:before {
    content: @fa-var-envelope-o;
}
.listing.iconized tr.mailview > td.section:before {
    content: @fa-var-inbox;
}
.listing.iconized tr.compose > td.section:before {
    content: @fa-var-paper-plane;
}
.listing.iconized tr.addressbook > td.section:before {
    content: @fa-var-user;
}
.listing.iconized tr.folders > td.section:before {
    content: @fa-var-folder-o;
}
.listing.iconized tr.server > td.section:before {
    content: @fa-var-server;
}
.listing.iconized li.filter > a:before {
    content: @fa-var-filter;
}
.listing.iconized li.enigma.keys > a:before {
    content: @fa-var-key;
}
.listing.iconized tr.enigma > td.section:before {
    content: @fa-var-lock;
}

/* autocomplete popup */
.listing.iconized li > i:before {
    content: @fa-var-user;
}
.listing.iconized li.group > i:before {
    content: @fa-var-group;
}

/* selecatable list: spellcheck language selection */
.listing.iconized.selectable li a:before {
    content: "";
}
.listing.iconized.selectable li a.selected:before {
    content: @fa-var-check;
}

ul.treelist li div.treetoggle:before {
    content: @fa-var-plus-square-o;
    font-size: 0.8em;
    width: 0.8em;
    height: 0.8em;
    background-color: white;
}

ul.treelist li div.treetoggle.expanded:before {
    content: @fa-var-minus-square-o;
}
