/*** Messages list widget ***/

.messagelist > thead,
.messagelist .branch,
table.fixedcopy {
    display: none;
}

.messagelist td {
    border-left: 0;
    width: 2em;
    vertical-align: top;
}

.messagelist td.subject {
    width: 99%;
    white-space: wrap;
    position: relative; /* for span.date positioning in Firefox */
}

.messagelist td.threads {
    vertical-align: bottom;
}

.messagelist td.subject span {
    line-height: 2em;
}

.messagelist td.subject span.date {
    right: 2px;
    top: 3px;
    position: absolute;
    color: #666; /* TODO */
}

.messagelist td.subject span.fromto {
    padding-left: 1.5em;
    display: block;
    margin-right: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666; /* TODO */
}

.messagelist tr.flagged td.subject span.date,
.messagelist tr.flagged td.subject span.fromto {
    color: #ff5c33; /* TODO */
}

.messagelist tr.deleted td.subject span.date,
.messagelist tr.deleted td.subject span.fromto {
    color: #ccc; /* TODO */
}

.messagelist td.subject span.subject {
    clear: both;
    display: block;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messagelist td.flags span {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 1px;
}

.messagelist td.flags span.flag {
    cursor: pointer;
}
