/*** Common UI elements ***/


.searchbar {
    display: table;
    text-align: right;
    position: absolute;
    background-color: @layout-header-background-color;
    z-index: 10;
    top: 0;
    right: 0;

    & > * {
        height: 2.5em;
    }

    & > form,
    & > a.button.options,
    & > a.button.reset {
        display: none;
        width: 1%;
    }

    & > form,
    & > form > input {
        width: 98%;
    }

    input {
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        line-height: 1;
    }

    & > a {
        &.button.search.active {
            color: @searchbar-icon-active-color;
        }
        &.button.reset:before {
            content: @fa-var-remove;
        }
        &.button.options:before {
            content: @fa-var-angle-down;
        }
    }
}
