<?php

// By default this plugin stores attachments in filesystem
// and copies them into sql database.
// In environments with replicated database it is possible
// to use memcache as a fallback when write-master is unavailable.
$rcmail_config['redundant_attachments_memcache'] = false;

// When memcache is used, attachment data expires after
// specied TTL time in seconds (max.2592000). Default is 12 hours.
$rcmail_config['redundant_attachments_memcache_ttl'] = 12 * 60 * 60;

?>
