<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="productname" /> :: <roundcube:label name="compose" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/mail.css" />
<link rel="stylesheet" type="text/css" href="/googiespell.css" />
<script type="text/javascript">
<!--

function rcmail_toggle_display(id)
  {
  var row, disp;
  if (row = document.getElementById(id))
    {
    disp = (!row.style.display || row.style.display=='none') ? ((document.all && !window.opera) ? 'block' : 'table-row') : 'none';
    row.style.display = disp;
    }
    
  return false;
  }

function rcmail_auto_save()
  {
  rcmail.command('savedraft','',this);
  self.setTimeout('rcmail_auto_save()',300000);
  }
self.setTimeout('rcmail_auto_save()',300000);
 
//-->
</script>
</head>
<body>

<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />

<form name="form" action="./" method="post">

<div id="messagetoolbar">
<roundcube:button command="list" image="/images/buttons/back_act.png" imageSel="/images/buttons/back_sel.png" imageAct="/images/buttons/back_act.png" width="32" height="32" title="backtolist" />
<roundcube:button command="send" imageSel="/images/buttons/send_sel.png" imageAct="/images/buttons/send_act.png" imagePas="/images/buttons/send_pas.png" width="32" height="32" title="sendmessage" />
<!--<roundcube:button command="contacts" imageSel="/images/buttons/contacts_sel.png" imageAct="/images/buttons/contacts_act.png" imagePas="/images/buttons/contacts_pas.png" width="32" height="32" title="addressbook" />-->
<roundcube:button command="spellcheck" imageSel="/images/buttons/spellcheck_sel.png" imageAct="/images/buttons/spellcheck_act.png" imagePas="/images/buttons/spellcheck_pas.png" width="32" height="32" title="checkspelling" />
<roundcube:button command="add-attachment" imageSel="/images/buttons/attach_sel.png" imageAct="/images/buttons/attach_act.png" imagePas="/images/buttons/attach_pas.png" width="32" height="32" title="addattachment" />
<roundcube:button command="savedraft" imageSel="/images/buttons/drafts_sel.png" imageAct="/images/buttons/drafts_act.png" imagePas="/images/buttons/drafts_pas.png" width="32" height="32" title="savemessage" />

<div id="priority-selector">
<label for="rcmcomposepriority"><roundcube:label name="priority" />:</label>&nbsp;<roundcube:object name="prioritySelector" form="form" id="rcmcomposepriority" />
</div>

<div id="receipt-selector">
<roundcube:object name="receiptCheckBox" form="form" id="rcmcomposereceipt" />&nbsp;<label for="rcmcomposereceipt"><roundcube:label name="returnreceipt" /></label>
</div>

</div>

<div id="compose-container">
<table border="0" cellspacing="0" cellpadding="1" style="width:100%; height:100%;" summary=""><tr>
<td>

<table border="0" cellspacing="0" cellpadding="1" id="compose-headers" summary=""><tr>

<td class="title"><label for="rcmcomposefrom"><roundcube:label name="from" /></label></td>
<td><roundcube:object name="composeHeaders" part="from" form="form" id="rcmcomposefrom" tabindex="1" /></td>

</tr><tr>

<td class="title top"><label for="rcmcomposeto"><roundcube:label name="to" /></label></td>
<td><roundcube:object name="composeHeaders" part="to" form="form" id="rcmcomposeto" cols="80" rows="2" tabindex="2" /></td>
<td class="add-button"><a href="#" onclick="return rcmail_toggle_display('compose-cc')">[Cc]</a><br />
<a href="#" onclick="return rcmail_toggle_display('compose-bcc')">[Bcc]</a><br /></td>

</tr><tr id="compose-cc">

<td class="title top"><label for="rcmcomposecc"><roundcube:label name="cc" /></label></td>
<td><roundcube:object name="composeHeaders" part="cc" form="form" id="rcmcomposecc" cols="80" rows="2" tabindex="3" /></td>

</tr><tr id="compose-bcc">

<td class="title top"><label for="rcmcomposebcc"><roundcube:label name="bcc" /></label></td>
<td><roundcube:object name="composeHeaders" part="bcc" form="form" id="rcmcomposebcc" cols="80" rows="2" tabindex="4" /></td>

</tr><tr id="compose-replyto">

<td class="title top"><label for="rcmcomposereplyto"><roundcube:label name="replyto" /></label></td>
<td><roundcube:object name="composeHeaders" part="replyto" form="form" id="rcmcomposereplyto" size="80" tabindex="5" /></td>

<!-- </tr><tr>

<td><roundcube:object name="composeAttachment" size="20" /></td> -->

</tr><tr>

<td class="title"><label for="compose-subject"><roundcube:label name="subject" /></label></td>
<td><roundcube:object name="composeSubject" id="compose-subject" form="form" tabindex="6" /></td>

</tr></table>

</td>

</tr><tr>

<td style="width:100%; height:95%; vertical-align:top;">
<roundcube:object name="composeBody" id="compose-body" form="form" cols="80" rows="20" wrap="virtual" tabindex="7" /><br />
<roundcube:label name="charset" />:&nbsp;<roundcube:object name="charsetSelector" tabindex="8" />
</td>

</tr></table>

</div>

<div id="compose-attachments">
<div id="attachment-title"><roundcube:label name="attachments" /></div>
<roundcube:object name="composeAttachmentList" deleteIcon="/images/icons/remove-attachment.png"/ >
<p><roundcube:button command="add-attachment" imagePas="/images/buttons/add_pas.png" imageSel="/images/buttons/add_sel.png" imageAct="/images/buttons/add_act.png" width="23" height="18" title="addattachment" />
</div>

</form>

<roundcube:object name="composeAttachmentForm" id="attachment-form" />

<script type="text/javascript">
<!--

var cc_field = document.form._cc;
if (cc_field && cc_field.value!='')
  rcmail_toggle_display('compose-cc');

//-->
</script>

<!--
<div id="attachment-form">
<roundcube:object name="composeAttachment" size="20" /><br />
<input type="button" value="<roundcube:label name='close' />" onclick="rcmail_show_attachment_form(0)" />
<input type="button" value="<roundcube:label name='send' />" onclick="rcmail.command('send-attachment', this)" />
</div>
-->

</body>
</html>
