<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/addresses.css" />
</head>
<body class="iframe">

<div id="contact-title"><roundcube:label name="editcontact" /></div>

<div id="contact-details">
<roundcube:object name="contacteditform" size="40" />

<p><br />
<roundcube:button command="show" type="input" class="button" label="cancel" />&nbsp;
<roundcube:button command="save" type="input" class="button" label="save" />
</p>

</form>
</div>


</body>
</html>
