<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<style type="text/css">

#login-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 350px;
}

</style>
</head>
<body>

<img src="skins/default/images/roundcube_logo.png" id="rcmbtn104" width="165" height="55" border="0" alt="RoundCube Webmail" hspace="10" />

<roundcube:object name="message" id="message" />

<div id="login-form">
<form name="form" action="./" method="post">
<roundcube:object name="loginform" form="form" />

<p style="text-align: center;"><input type="submit" class="button" value="<roundcube:label name="login" />" />

</form>
</div>

</body>
</html>
