<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<meta name="Robots" content="noindex,nofollow" />
<roundcube:include file="/includes/links.html" />
<style type="text/css">

#login-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 380px;
  border: 1px solid #999;
}

#login-form table td.title
{
  color: #666;
  text-align: right;
  padding-right: 10px;
}

.boxcontent {
  padding: 20px 20px 10px 20px;
}

</style>
</head>
<body>

<img src="/images/roundcube_logo.png" border="0" alt="<roundcube:object name='productname' />" style="margin:2px 12px" />

<roundcube:object name="message" id="message" />

<div id="login-form">
<div class="boxtitle"><roundcube:label name="welcome" /></div>
<div class="boxcontent">

<form name="form" action="./" method="post">
<roundcube:object name="loginform" form="form" autocomplete="off" />

<p style="text-align:center;"><input type="submit" class="button mainaction" value="<roundcube:label name='login' />" /></p>

</form>
</div>
</div>

</body>
</html>
