<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body>

<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />
<roundcube:include file="/includes/settingstabs.html" />

<form name="subscriptionform" action="./" onsubmit="rcmail.command('create-folder');return false;">

<div id="folder-manager">
<roundcube:object name="foldersubscription" form="subscriptionform" id="subscription-table"
  cellpadding="1" cellspacing="0" summary="Folder subscription table" class="records-table"
  deleteIcon="/images/icons/delete.png"
  renameIcon="/images/icons/rename.png" />
</div>

<div id="bottomboxes">
<div class="settingsbox">
<div class="boxtitle"><roundcube:label name="createfolder" /></div>

<div class="boxcontent">
<roundcube:label name="foldername" />:&nbsp;
<roundcube:object name="createfolder" form="subscriptionform" hintbox="rcmailaddfolderhint" />
<roundcube:button command="create-folder" type="input" class="button" label="create" />
<div id="rcmailaddfolderhint" class="hint" style="margin-top:1em; height:16px"></div>
</div>
</div>

</div>

</form>

<div id="rcmversion"><roundcube:object name="productname" /> <roundcube:object name="version" /></div>

</body>
</html>
