<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="extwin">

<roundcube:include file="/includes/header.html" />

<div id="partheader">
<roundcube:object name="messagePartControls" cellpadding="2" cellspacing="0" />

<div style="position:absolute; top:2px; right:0; width:12em; text-align:right">
  [<a href="#close" class="closelink" onclick="self.close()"><roundcube:label name="close" /></a>]
</div>
</div>


<div id="messagepartcontainer">
<roundcube:object name="messagePartFrame" id="messagepartframe" width="100%" height="100%" />
</div>

</body>
</html>
