<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<link rel="stylesheet" type="text/css" href="/common.css" />
<link rel="stylesheet" type="text/css" href="/addresses.css" />
</head>
<body class="iframe">

<div id="contact-title"><roundcube:object name="contactdetails" part="name" /></div>

<div id="contact-details">
<roundcube:object name="contactdetails" />

<p><br /><roundcube:button command="edit" type="input" class="button" label="editcontact" /></p>
</div>

</body>
</html>
