<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="iframe">

<div id="contact-title" class="boxtitle"><roundcube:object name="contactdetails" part="name" /></div>

<div id="contact-details" class="boxcontent">
<fieldset>
  <legend><roundcube:label name="contactproperties" /></legend>
  <roundcube:object name="contactdetails" />

  <p><br /><roundcube:button command="edit" type="input" class="button" label="editcontact" condition="!ENV:readonly" /></p>
</fieldset>

<roundcube:if condition="ENV:groups" />
<fieldset>
  <legend><roundcube:label name="groups" /></legend>
  <roundcube:object name="contactgroups" />
</fieldset>
<roundcube:endif />

</div>

</body>
</html>
