/***** RoundCube|Mail address book task styles *****/


#abooktoolbar
{
  position: absolute;
  top: 45px;
  left: 200px;
  height: 35px;
}

#abooktoolbar a
{
  padding-right: 10px;
}

#abookcountbar
{
  position: absolute;
  bottom: 16px;
  left: 185px;
  width: 240px;
  height: 20px;
  text-align: left;
}

#abookcountbar span
{
  font-size: 11px;
  color: #333333;
}

#directorylist, #addresslist
{
  position: absolute;
  top: 85px;
  bottom: 40px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: auto;
  /* css hack for IE */
  height: expression((parseInt(document.documentElement.clientHeight)-135)+'px');  
}

#directorylist
{
  left: 20px;
  width: 150px;
}

#addresslist
{
  left: 185px;
  width: 340px;
}

#directorylist ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

#directorylist ul li
{
  font-size: 11px;
  border-bottom: 1px solid #EBEBEB;
}

#directorylist ul li a
{
  display: block;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

#directorylist li.selected
{
  background-color: #929292;
  border-bottom: 1px solid #898989;
}

#directorylist li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#directorylist li.droptarget
{
  background-color: #FFFFA6;
}


#contacts-table
{
  width: 100%;
  table-layout: fixed;
  /* css hack for IE */
  width: expression(document.getElementById('addresslist').clientWidth);
}


#contacts-table tbody td
{
  cursor: pointer;
}


#contacts-box
{
  position: absolute;
  top: 85px;
  left: 540px;
  right: 30px;
  bottom: 40px;
  border: 1px solid #999999;
  overflow: hidden;
  /* css hack for IE */
  width: expression((parseInt(document.documentElement.clientWidth)-45-document.getElementById('addresslist').offsetLeft-document.getElementById('addresslist').offsetWidth)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-135)+'px');
}


#addressviewsplitter
{
  background-position: 4px center;
}

#addressviewsplitter .splitterLine
{
  margin-left: 3px;
  width: 6px;
}


body.iframe,
#contact-frame
{
  background-color: #F9F9F9;
}

#contact-frame
{
  border: none;
/* visibility: hidden; */
}

#contact-title, #groups-title
{
  height: 12px !important;
/*  height: 20px; */
  padding: 4px 5px 3px 5px;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  background-color: #EBEBEB;
  background-image: url(images/listheader_aqua.gif);
  white-space: nowrap;
}

#contact-title
{
  padding: 4px 10px 3px 10px;
}

#contact-details
{
  padding: 15px 10px 10px 10px;
}

#contact-details table td.title
{
  color: #666;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}


