/***** RoundCube|Mail basic styles *****/

body
{
  margin: 8px;
  background-color: #F6F6F6; /* #EBEBEB; */
  color: #000000;
}

body.iframe
{
  margin: 0px;
  background-color: #FFF;
}

body.extwin
{
  margin: 10px;
}

body, td, th, div, p, h3
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

th
{
  font-weight: normal;
}

h3
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
}

a, a:active, a:visited
{
  color: #000000;
  outline: none;
}

a.button, a.button:visited, a.tab, a.tab:visited, a.axislist
{
  color: #000000;
  text-decoration: none;
}

a.tab
{
  width: 80px;
  display: block;
  text-align: center;
}

hr
{
  height: 1px;
  background-color: #666666;
  border-style: none;
}

input[type="text"],
input[type="button"],
input[type="password"],
textarea
{
  font-size: 9pt;
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #666666;
  color: #333333;
  background-color: #ffffff;
}

input, textarea
{
  font-size: 9pt;
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}

input.button
{
  height: 20px;
  color: #333333;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  background: url(images/buttons/bg.gif) repeat-x #f0f0f0;
  border: 1px solid #a4a4a4;
}

input.button:hover
{
  color: black;
}

input.mainaction
{
  font-weight: bold;
  border: 1px solid #999;
}

img
{
  border: 0;
}

.alttext
{
  font-size: 11px;
}

.hint
{
  color: #666;
  font-size: 11px;
}

/** common user interface objects */

#header
{
  position: absolute;
  top: 8px;
  left: 19px;
  width: 170px;
  height: 40px;
  z-index: 100;
}

#taskbar
{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 600px;
  height: 24px;
  background: url(images/taskbar.gif) top right no-repeat;
  padding: 10px 4px 5px 0px;
  text-align: right;
  white-space: nowrap;
  z-index: 2;
}

#taskbar a
{
  font-size: 11px;
  color: #666666;
  text-decoration: none;
  padding: 6px 14px 6px 27px;
  background: url('images/taskicons.gif') no-repeat;
}

#taskbar a:hover
{
  color: #333333;
}

#taskbar a.button-mail
{
  background-position: 0 0;
}

#taskbar a.button-addressbook
{
  background-position: 0 -25px;
}

#taskbar a.button-settings
{
  background-position: 0 -50px;
}

#taskbar a.button-logout
{
  background-position: 0 -75px;
}

#message
{
  position: absolute;
  display: none;
  top: -1px;
  left: 200px;
  right: 200px;
  z-index: 5000;
  opacity: 0.85;
}

#message div
{
  width: 400px;
  margin: 0px auto;
  min-height: 22px;
  padding: 8px 10px 8px 46px;
}

#message div.notice,
#remote-objects-message
{
  background: url('images/display/icons.png') 6px 3px no-repeat;
  background-color: #F7FDCB;
  border: 1px solid #C2D071;
}

#message div.error,
#message div.warning
{
  background: url('images/display/icons.png') 6px -97px no-repeat;
  background-color: #EF9398;
  border: 1px solid #DC5757;
}

#message div.confirmation
{
  background: url('images/display/icons.png') 6px -47px no-repeat;
  background-color: #A6EF7B;
  border: 1px solid #76C83F;
}

#message div.loading
{
  background: url('images/display/loading.gif') 6px 3px no-repeat;
  background-color: #EBEBEB;
  border: 1px solid #CCCCCC;
}

#pagecontent
{
  position: absolute;
  top: 95px;
  left: 20px;
}

.pagenav a.button,
.pagenav a.buttonPas
{
  display: block;
  float: left;
  width: 11px;
  height: 11px;
  padding: 0;
  margin: 1px;
  overflow: hidden;
  background: url('images/pagenav.gif') 0 0 no-repeat transparent;
  opacity: 0.99; /* this is needed to make buttons appear correctly in Chrome */
}

.pagenav a.buttonPas {
  opacity: 0.35;
}

.pagenav a.firstpageSel {
  background-position: 0 -11px;
}

.pagenav a.prevpage {
  background-position: -11px 0;
}

.pagenav a.prevpageSel {
  background-position: -11px -11px;
}

.pagenav a.nextpage {
  background-position: -22px 0;
}

.pagenav a.nextpageSel {
  background-position: -22px -11px;
}

.pagenav a.lastpage {
  background-position: -33px 0;
}

.pagenav a.lastpageSel {
  background-position: -33px -11px;
}

.splitter
{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  position: absolute;
  background: url(images/dimple.png) center no-repeat;
}

.splitter-h
{
  cursor: n-resize;
  background-position: center 2px;
}

.splitter-v
{
  cursor: e-resize;
  background-position: 2px center;
}

.boxtitle
{
  height: 12px !important;
  padding: 2px 10px 5px 5px;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  background: url('images/listheader.gif') top left repeat-x #CCC;
}

.boxcontent
{
  padding: 15px 10px 10px 10px;
}

.boxcontent table td.title
{
  color: #666;
  padding-right: 10px;
}


/***** common table settings ******/

table.records-table thead tr td
{
  height: 20px;
  padding: 0px 4px 0px 4px;
  vertical-align: middle;
  border-bottom: 1px solid #999999;
  color: #333333;
  background: url('images/listheader.gif') top left repeat-x #CCC;
  font-size: 11px;
  font-weight: bold;
}

table.records-table tbody tr td
{
  height: 16px;
  padding: 2px 4px 2px 4px;
  font-size: 11px;
  white-space: nowrap;
  border-bottom: 1px solid #EBEBEB;
  overflow: hidden;
  text-align: left;  
}

table.records-table tr
{
  background-color: #FFFFFF;
}

table.records-table tr.selected td
{
  color: #FFFFFF;
  background-color: #CC3333;
}

table.records-table tr.focused td
{
}

table.records-table tr.unfocused td
{
  color: #FFFFFF;
  background-color: #929292;
}


/***** mac-style quicksearch field *****/

#quicksearchbar
{
  position: absolute;
  top: 55px;
  right: 20px;
  width: 182px;
  height: 20px;
  text-align: right;
  background: url('images/searchfield.gif') top left no-repeat;
}

#searchreset
{
  position: absolute;
  top: 3px;
  right: 4px;
  text-decoration: none;
}

#searchmod
{
 position: absolute;
 top: 3px;
 right: 160px;
}

#quicksearchbar img
{
  vertical-align: middle;
}

#quicksearchbox
{
  position: absolute;
  top: 2px;
  left: 24px;
  width: 140px;
  height: 15px;
  font-size: 11px;
  padding: 0px;
  border: none;
}


/***** roundcube webmail pre-defined classes *****/

#rcversion
{
  position: absolute;
  top: 67px;
  left: 20px;
  width: 160px;
  text-align: center;

  font-weight: normal;
  font-size: x-small;
  font-variant: small-caps;
  
  color: #999999;
  /*border: 1px solid #308014;
  background-color: #b4eeb4;*/
}

#rcmdraglayer
{
  min-width: 300px;
  width: auto !important;
  width: 300px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0.7;
}

a.rcmContactAddress
{
  text-decoration: none;
}

a.rcmContactAddress:hover
{
  text-decoration: underline;
}

#rcmKSearchpane
{
  background-color: #F9F9F9;
  border: 1px solid #CCCCCC;
}

#rcmKSearchpane ul
{
  margin: 0px;
  padding: 2px;
  list-style-image: none;
  list-style-type: none;
}

#rcmKSearchpane ul li
{
  display: block;
  height: 16px;
  font-size: 11px;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  white-space: nowrap;
  cursor: pointer;
}

#rcmKSearchpane ul li.selected
{
  color: #ffffff;
  background-color: #CC3333;
}

#login-form
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 400px;
  border: 1px solid #999;
}

#login-form table td.title
{
  text-align: right;
  white-space: nowrap;
}

#login-form table
{
  width: 1%;
  margin: auto;
}

#rcmloginuser, #rcmloginpwd, #rcmloginhost
{
  width: 200px;
}

#console
{
  opacity: 0.8;
}


/***** onclick menu list *****/

ul.toolbarmenu
{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.toolbarmenu li
{
  font-size: 11px;
  white-space: nowrap;
  min-width: 130px;
}

ul.toolbarmenu li a
{
  display: block;
  color: #a0a0a0;
  padding: 2px 8px 3px 22px;
  text-decoration: none;
  min-height: 14px;
}

ul.toolbarmenu li a.active,
ul.toolbarmenu li a.active:active,
ul.toolbarmenu li a.active:visited
{
  color: #333;
}

ul.toolbarmenu li input
{
  vertical-align: middle;
}

ul.toolbarmenu li hr
{
  color: #ccc;
  width: 130px;
  height: 1px;
  margin: 2px 1px 2px 1px;
}

ul.toolbarmenu li img
{
  float: left;
  margin: 0 2px;
}

ul.toolbarmenu li.separator_below
{
  border-bottom: 1px solid #ccc;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

ul.toolbarmenu li.separator_above
{
  border-top: 1px solid #ccc;
  margin-top: 2px;
  padding-top: 2px;
}
