/***** RoundCube|Mail basic styles *****/

body
{
  margin: 8px;
  background-color: #F6F6F6; /* #EBEBEB; */
  color: #000000;
}

body.iframe
{
  margin: 0px;
  background-color: #FFF;
}

body.extwin
{
  margin: 10px;
}

body, td, th, div, p, h3
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

th
{
  font-weight: normal;
}

h3
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
}

a, a:active, a:visited
{
  color: #000000;
  outline: none;
}

a.button, a.button:visited, a.tab, a.tab:visited, a.axislist
{
  color: #000000;
  text-decoration: none;
}

a.tab
{
  width: 80px;
  display: block;
  text-align: center;
}

hr
{
  height: 1px;
  background-color: #666666;
  border-style: none;
}

input, textarea
{
  font-size: 9pt;
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #666666;
}

input[type="checkbox"],
input[type="radio"]
{
  border: 0;
  padding: 0;
  background-color: transparent;
}

input.button
{
  height: 20px;
  color: #333333;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  background: url(images/buttons/bg.gif) repeat-x #f0f0f0;
  border: 1px solid #a4a4a4;
}

input.button:hover
{
  color: black;
}

input.mainaction
{
  font-weight: bold;
  border: 1px solid #999;
}

img
{
  behavior: url('skins/default/pngbehavior.htc');
  border: 0;
}

.alttext
{
  font-size: 11px;
}

.hint
{
  color: #666;
  font-size: 11px;
}

/** common user interface objects */

#header
{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 170px;
  height: 40px;
  z-index: 100;
}

#taskbar
{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 600px;
  height: 37px;
  background: url(images/taskbar.gif) top right no-repeat;
  padding: 10px 4px 10px 0px;
  text-align: right;
  white-space: nowrap;
  z-index: 2;
}

#taskbar a,
#taskbar a:active,
#taskbar a:visited
{
  font-size: 11px;
  color: #666666;
  text-decoration: none;
  padding: 6px 16px 6px 25px;
  background-repeat: no-repeat;
}

#taskbar a:hover
{
  color: #333333;
}

a.button-mail
{
  background-image: url(images/buttons/mail.gif);
}

a.button-addressbook
{
  background-image: url(images/buttons/addressbook.gif);
}

a.button-settings
{
  background-image: url(images/buttons/settings.gif);
}

a.button-logout
{
  background-image: url(images/buttons/logout.gif);
}


#message
{
  position: absolute;
  display: none;
  top: -1px;
  left: 200px;
  right: 200px;
  z-index: 5000;
  opacity: 0.85;
  /* IE */
  filter: alpha(opacity=85);
}

#message div
{
  width: 400px;
  margin: 0px auto;
  height: 24px;
  min-height: 24px;
  padding: 8px 10px 8px 46px;
}

#message div.notice,
#remote-objects-message
{
  background: url(images/display/info.png) 6px 3px no-repeat;
  background-color: #F7FDCB;
  border: 1px solid #C2D071;
}

#message div.error,
#message div.warning
{
  background: url(images/display/warning.png) 6px 3px no-repeat;
  background-color: #EF9398;
  border: 1px solid #DC5757;
}

#message div.confirmation
{
  background: url(images/display/confirm.png) 6px 3px no-repeat;
  background-color: #A6EF7B;
  border: 1px solid #76C83F;
}

#message div.loading
{
  background: url(images/display/loading.gif) 6px 3px no-repeat;
  background-color: #EBEBEB;
  border: 1px solid #CCCCCC;
}

.splitter
{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  position: absolute;
  background: url(images/dimple.png) center no-repeat;
}

.splitter-h
{
  cursor: n-resize;
  background-position: center 2px;
}

.splitter-v
{
  cursor: e-resize;
  background-position: 2px center;
}

.boxtitle
{
  height: 12px !important;
  padding: 4px 20px 3px 20px;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  background-color: #EBEBEB;
  background-image: url(images/listheader_aqua.gif);
}

.radios-left label
{
  padding-left: 0.3em;
}

/***** common table settings ******/

table.records-table thead tr td
{
  height: 20px;
  padding: 0px 4px 0px 4px;
  vertical-align: middle;
  border-bottom: 1px solid #999999;
  color: #333333;
  background-color: #EBEBEB;
  background-image: url(images/listheader_aqua.gif); 
  font-size: 11px;
  font-weight: bold;
}

table.records-table tbody tr td
{
  height: 16px;
  padding: 2px 4px 2px 4px;
  font-size: 11px;
  white-space: nowrap;
  border-bottom: 1px solid #EBEBEB;
  overflow: hidden;
  text-align: left;  
}

table.records-table tr
{
  background-color: #FFFFFF;
}

table.records-table tr.selected td
{
  color: #FFFFFF;
  background-color: #CC3333;
}

table.records-table tr.focused td
{
}

table.records-table tr.unfocused td
{
  color: #FFFFFF;
  background-color: #929292;
}


/***** mac-style quicksearch field *****/

#quicksearchbar
{
  position: absolute;
  top: 60px;
  right: 20px;
  width: 182px;
  height: 20px;
  text-align: right;
  background: url('images/searchfield.gif') top left no-repeat;
}

#quicksearchbar a
{
  position: absolute;
  top: 3px;
  right: 4px;
  text-decoration: none;
}

#quicksearchbar img
{
  vertical-align: middle;
}

#quicksearchbox
{
  position: absolute;
  top: 2px;
  left: 20px;
  width: 140px;
  font-size: 11px;
  padding: 0px;
  border: none;
}


/*\*/
html>body*#quicksearchbar[id$="quicksearchbar"]:not([class="none"]) { background-image: none; }
html>body*#quicksearchbar[id$="quicksearchbar"]:not([class="none"]) a { top: 5px; }
html>body*#quicksearchbar[id$="quicksearchbar"]:not([class="none"]) #quicksearchbox { width: 180px; top:0px; right: 1px; left: auto; }
/**/


/***** roundcube webmail pre-defined classes *****/

#rcversion
{
  position: absolute;
  top: 67px;
  left: 20px;
  width: 160px;
  text-align: center;

  font-weight: normal;
  font-size: x-small;
  font-variant: small-caps;
  
  color: #999999;
  /*border: 1px solid #308014;
  background-color: #b4eeb4;*/
}

#rcmdraglayer
{
  min-width: 300px;
  width: auto !important;
  width: 300px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

a.rcmContactAddress
{
  text-decoration: none;
}

a.rcmContactAddress:hover
{
  text-decoration: underline;
}

#rcmKSearchpane
{
  background-color: #F9F9F9;
  border: 1px solid #CCCCCC;
}

#rcmKSearchpane ul
{
  margin: 0px;
  padding: 2px;
  list-style-image: none;
  list-style-type: none;
}

#rcmKSearchpane ul li
{
  height: 16px;
  font-size: 11px;
  padding-left: 8px;
  padding-top: 2px;
  padding-right: 8px;
  white-space: nowrap;  
}

#rcmKSearchpane ul li.selected
{
  color: #ffffff;
  background-color: #CC3333;
}

