/* This file contains the CSS data for the editable area(iframe) of TinyMCE */
/* You can extend this CSS by adding your own CSS file with the the content_css option */

body, td, pre {
	font-family: "Lucida Grande", Verdana,  Arial, Helvetica, sans-serif;
	font-size: 12px;
}
  
body {
	background-color: #FFFFFF;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 2px;
}

pre
{
	margin: 0;
	padding: 0;
	white-space: -moz-pre-wrap !important;
	white-space: pre-wrap !important;
	white-space: pre;
	word-wrap: break-word; /* IE (and Safari) */
}
