/* CSS hacks for IE versions 5,6 */

img
{
  behavior: url('skins/default/pngbehavior.htc');
}

#message div.notice,
#message div.error,
#message div.warning,
#message div.confirmation,
#remote-objects-message
{
  background-image: url('images/display/icons.gif');
}

ul.toolbarmenu li
{
  width: auto;
  border: 1px solid #f6f6f6;
}

#messagemenu li a
{
  background-image: url('images/messageactions.gif');
}

#mailboxlist li
{
  background-image: url('images/icons/folders.gif');
}