/***** RoundCube|Mail mail task styles *****/


#messagetoolbar
{
  position: absolute;
  top: 45px;
  left: 200px;
  right: 250px;
  height: 35px;
  white-space: nowrap;
/*  border: 1px solid #cccccc; */
}

#messagetoolbar a
{
  padding-right: 10px;
}

#messagetoolbar select
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333;
}

#messagetoolbar select.mboxlist
{
  position: absolute;
  left: 375px;
  top: 10px;
}

#messagetoolbar select.mboxlist option
{
  padding-left: 15px;
}

#messagetoolbar select.mboxlist option[value="0"]
{
  padding-left: 2px;
}

#listcontrols
{
  position: absolute;
  left: 200px;
  bottom: 20px;
  height: 16px;
  width: 500px;
  font-size: 11px;
}

#listcontrols a,
#listcontrols a:active,
#listcontrols a:visited,
#mailboxcontrols a,
#mailboxcontrols a:active,
#mailboxcontrols a:visited
{
  color: #999999;
  font-size: 11px;
  text-decoration: none;
}

#listcontrols a.active,
#listcontrols a.active:active,
#listcontrols a.active:visited,
#mailboxcontrols a.active,
#mailboxcontrols a.active:active,
#mailboxcontrols a.active:visited
{
  color: #CC0000;
}

#listcontrols a.active:hover,
#mailboxcontrols a.active:hover
{
  text-decoration: underline;
}

#messagecountbar
{
  position: absolute;
  bottom: 16px;
  right: 40px;
  width: 300px;
  height: 20px;
  text-align: right;
  white-space: nowrap;
}

#messagecountbar span
{
  font-size: 11px;
  color: #333333;
}

#messagepartcontainer
{
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

#mailcontframe
{
  position: absolute;
  top: 85px;
  left: 200px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: auto;
  /* css hack for IE */
  width: expression((parseInt(document.documentElement.clientWidth)-240)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-125)+'px');
}

#mailpreviewframe
{
  position: absolute;
  top: 305px;
  left: 200px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  /* css hack for IE */
  width: expression((parseInt(document.documentElement.clientWidth)-240)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-135-document.getElementById('mailcontframe').offsetHeight)+'px');
}

#messagecontframe
{
  width: 100%;
  height: 100%;
  border: 0;
}

/*\*/
html>body*#messagecontframe
{
  [height: 40%;
  height: 40%;
  ]height: 100%;
}
/**/

#messagepartframe
{
  border: 1px solid #999999;
  background-color: #F9F9F9;  
}


#partheader
{
  position: absolute;
  top: 10px;
  left: 220px;
  height: 40px;
}

#partheader table td
{
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  font-size: 11px;
}

#partheader table td.title
{
  color: #666666;
  font-weight: bold;
}

#rcmdraglayer
{
  width: 300px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 11px;
  opacity: 0.6;
  -moz-opacity: 0.6;
}


/** mailbox list styles */

#mailboxlist-header
{
  position: absolute;
  top: 85px;
  left: 20px;
  width: 140px !important;
/*  width: 162px; */
  height: 13px;
  padding: 3px 10px 2px 10px;
  background-color: #EBEBEB;
  background-image: url(images/listheader_aqua.gif); 
  border: 1px solid #CCCCCC;
  color: #333333;
  font-size: 11px;
  font-weight: bold;  
}

#mailboxlist-container
{
  position: absolute;
  top: 105px;
  left: 20px;
  width: 160px;
  bottom: 40px;
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
  overflow: auto;
  /* css hack for IE */
  height: expression((parseInt(document.documentElement.clientHeight)-145)+'px');
}

#mailboxlist
{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}

#mailboxlist li
{
 /* height: 18px; */
  font-size: 11px;
  background: url(images/icons/folder-closed.png) no-repeat;
  background-position: 10px 1px;
  border-bottom: 1px solid #EBEBEB;
/* IE 5.5  margin-left: -16px; */
}

#mailboxlist li.inbox
{
  background-image: url(images/icons/folder-inbox.png);
}

#mailboxlist li.drafts
{
  background-image: url(images/icons/folder-drafts.png);
}

#mailboxlist li.sent
{
  background-image: url(images/icons/folder-sent.png);
}

#mailboxlist li.junk
{
  background-image: url(images/icons/folder-junk.png);
}

#mailboxlist li.trash
{
  background-image: url(images/icons/folder-trash.png);
}

#mailboxlist li a
{
  display: block;
  padding-left: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

#mailboxlist li, #mailboxlist li.unread
{  
 /* background-image: url(images/mailbox_list.gif); */
}

#mailboxlist li.unread
{
  font-weight: bold;
}

#mailboxlist li.selected
{
  background-color: #929292;
  border-bottom: 1px solid #898989;
}

#mailboxlist li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#mailboxlist li.droptarget
{
  background-color: #FFFFA6;
}

/* styles for nested folders */
#mailboxlist ul {
  list-style: none;
  padding: 0;
  margin:0;
  border-top: 1px solid #EBEBEB;  
}

#mailboxlist ul li {
  padding-left: 15px;
  background-position: 25px 1px;
}

#mailboxlist li.selected li {
  background-color: #F9F9F9;
}

#mailboxlist li.unread li {
  font-weight: normal;
}

#mailboxlist li.unread li.unread {
  font-weight: bold;
}

#mailboxlist li.selected li a{
  color: black;
  font-weight: normal;
}


#mailboxcontrols
{
  position: absolute;
  left: 20px;
  width: 160px;
  bottom: 20px;
  height: 16px;
  overflow: hidden;
  font-size: 11px;
}


/** message list styles */

body.messagelist
{
  margin: 0px;
  background-color: #F9F9F9;
}

#messagelist
{
  width: 100%;
  display: table;
  table-layout: fixed;
  /* css hack for IE */
  width: expression(document.getElementById('mailcontframe').clientWidth);
}

#messagelist thead tr td
{
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  border-bottom: 1px solid #999999;
  color: #333333;
  background-color: #EBEBEB;
  background-image: url(images/listheader_aqua.gif); 
  font-size: 11px;
  font-weight: bold;
}

#messagelist thead tr td.sortedASC,
#messagelist thead tr td.sortedDESC
{
  background-image: url(images/listheader_dark.gif); 
}

#messagelist thead tr td.sortedASC a
{
  background: url(images/sort_asc.gif) top right no-repeat;
}

#messagelist thead tr td.sortedDESC a
{
  background: url(images/sort_desc.gif) top right no-repeat;
}

#messagelist thead tr td a,
#messagelist thead tr td a:hover
{
  display: block;
  width: auto !important;
  width: 100%;
  color: #333333;
  text-decoration: none;
}

#messagelist tbody tr td
{
  height: 16px;
  padding: 2px;
  padding-right: 4px;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}

#messagelist col
{
  display: table-column;
  text-align: left;
  vertical-align: middle;
}

#messagelist tr td.icon
{
  width: 16px;
  vertical-align: middle;
}

#messagelist tr td.subject
{
  overflow: hidden;
  vertical-align: middle;
}

#messagelist tr td.size
{
  width: 60px;
  text-align: right;
  vertical-align: middle;
}

#messagelist tr td.from,
#messagelist tr td.to
{
  width: 180px;
  vertical-align: middle;
}

#messagelist tr td.date
{
  width: 110px;
  vertical-align: middle;
}

#messagelist tr.message
{
  background-color: #FFFFFF;
}

/*
#messagelist tr.odd
{
  background-color: #F9F9F9;
}
*/

#messagelist tr.unread
{
  font-weight: bold;
  background-color: #FFFFFF;
}

#messagelist tr.selected td
{
  font-weight: bold;
  color: #FFFFFF;
  background-color: #CC3333;
}

#messagelist tr.unfocused td
{
  font-weight: bold;
  color: #FFFFFF;
  background-color: #929292;
}

#messagelist tr.selected td a.rcmContactAddress
{
  color: #FFFFFF;
}

#messagelist tr.unfocused td a.rcmContactAddress
{
  color: #FFFFFF;
}

#messagelist tr.deleted td a.rcmContactAddress
{
  color: #CCCCCC;
}

#messagelist tr.deleted td,
#messagelist tr.deleted td a
{
  color: #CCCCCC;
}

#quicksearchbar
{
  position: absolute;
  top: 60px;
  right: 40px;
  width: 182px;
  height: 20px;
  text-align: right;
  background: url('images/searchfield.gif') top left no-repeat;
}

#quicksearchbar a
{
  position: absolute;
  top: 3px;
  right: 4px;
  text-decoration: none;
}

#quicksearchbar img
{
  vertical-align: middle;
}

#quicksearchbox
{
  position: absolute;
  top: 2px;
  left: 20px;
  width: 140px;
  font-size: 11px;
  padding: 0px;
  border: none;
}


/*\*/
html>body*#quicksearchbar { background-image: none; }
html>body*#quicksearchbar a { top: 5px; }
html>body*#quicksearchbar #quicksearchbox { width: 180px; top:0px; right: 1px; left: auto; }
/**/


#rcversion
{
  position: absolute;
  top: 67px;
  left: 20px;
  width: 160px;
  text-align: center;

  font-weight: normal;
  font-size: x-small;
  font-variant: small-caps;
  
  color: #999999;
  /*border: 1px solid #308014;
  background-color: #b4eeb4;*/
}

#quotadisplay
{
  color: #666666;
  font-size: 11px;
}

#quotadisplay img
{
  vertical-align: middle;
  margin-left: 4px;
  border: 1px solid #666666;
}


/** message view styles */


#messageframe
{
  position: absolute;
  top: 95px;
  left: 200px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #cccccc;
  background-color: #FFFFFF;
  overflow: auto;
  /* css hack for IE */
  /* margin-bottom: 10px; */
  width: expression((parseInt(document.documentElement.clientWidth)-240)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-125)+'px');
}

div.messageheaderbox
{
  margin: 6px 8px 0px 8px;
  border: 1px solid #ccc;
}

table.headers-table
{
  width: 100%;
  background-color: #EBEBEB;
  table-layout: fixed;

}

table.headers-table tr td
{
  font-size: 11px;
  border-bottom:1px solid #FFFFFF;
}

table.headers-table td.header-title
{
  width: 80px;
  color: #666666;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  padding-right: 4px;
}

table.headers-table tr td.subject
{
  width: 95%;
  font-weight: bold;
}

#attachment-list
{
  margin: 0px;
  padding: 0px 0px 0px 68px;
  height: 18px;
  list-style-image: none;
  list-style-type: none;
  background: url(images/icons/attachment.png) 52px 1px no-repeat #DFDFDF; 
  border-bottom: 1px solid #FFFFFF;
}

#attachment-list li
{
/*  display: block; */
  float: left;
  height: 18px;
  font-size: 11px;
  padding: 2px 10px 0px 10px;
}

#attachment-list li a
{
  text-decoration: none;
}

#attachment-list li a:hover
{
  text-decoration: underline;
}

#messagebody
{
  min-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}

div.message-part
{
  padding: 8px;
  padding-top: 10px;
  overflow: hidden;
}

div.message-part a
{
  color: #0000CC;
}

div.message-part div.pre
{
  margin: 0px;
  padding: 0px;
  white-space: pre;
  font-family: monospace;
}

div.message-part blockquote
{
  color: blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background-color: #F6F6F6;
  margin: 2px 0px 2px 0px;
  padding: 1px 8px 1px 10px;
}

div.message-part blockquote blockquote
{
  color: green;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

div.message-part blockquote blockquote blockquote
{
  color: #990000;
  border-left: 2px solid #bb0000;
  border-right: 2px solid #bb0000;
}

#remote-objects-message
{
  display: none;
  height: 20px;
  min-height: 20px;
  margin: 8px 8px 0px 8px;
  padding: 10px 10px 6px 46px;  
}

#remote-objects-message a
{
  color: #666666;
  padding-left: 10px;
}

#remote-objects-message a:hover
{
  color: #333333;
}


/** message compose styles */

#priority-selector
{
  position: absolute;
  left: 280px;
  top: 10px;
}

#receipt-selector
{
  position: absolute;
  left: 450px;
  top: 10px;
}

#compose-container
{
  position: absolute;
  top: 90px;
  left: 200px;
  right: 40px;
  bottom: 40px;
  padding: 0px;
  margin: 0px;
  /* css hack for IE */
  width: expression(document.documentElement.clientWidth-240);
  height: expression((parseInt(document.documentElement.clientHeight)-130)+'px');
}

/*
#compose-headers
{
  position: absolute;
  top: 70px;
  left: 200px;
  height: 84px;
  border-top: 1px solid #cccccc;
  overflow: auto;
}

#compose-headers td
{
  padding-top: 1px;
  padding-bottom: 1px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
*/

#compose-headers
{
  width: 100%;
}

/*
#compose-headers td
{
  width: 100%;
}
*/

#compose-headers td.top
{
  vertical-align: top;
}

#compose-headers td.title,
#compose-subject td.title
{
  width: 80px !important;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  padding-right: 10px;
  white-space: nowrap;
}

#compose-headers td.add-button
{
  width: 40px !important;
  text-align: right;
  vertical-align: bottom;
}

#compose-headers td.add-button a
{
  color: #666666;
  font-size: 11px;
  text-decoration: none;
}

#compose-headers td textarea
{
  width: 100%;
  height: 40px;
}

#compose-headers td input
{
  width: 100%;
}

#compose-cc,
#compose-bcc,
#compose-replyto
{
  display: none;
}

#compose-body
{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 99%;
  height: 90%;
  min-height: 280px;
  font-size: 9pt;
  font-family: "Courier New", Courier, monospace;
}

#compose-attachments
{
  position: absolute;
  top: 100px;
  left: 20px;
  width: 160px;
}

#compose-attachments ul
{
  margin: 0px;
  padding: 0px;
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
  list-style-image: none;
  list-style-type: none;
}

#compose-attachments ul li
{
  height: 18px;
  font-size: 11px;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 4px;
  border-bottom: 1px solid #EBEBEB;
  white-space: nowrap;
  overflow: hidden;
}

#attachment-title
{
  background: url(images/icons/attachment.png) top left no-repeat;
  padding: 0px 0px 3px 22px;
}

#attachment-form
{
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 200;
  padding: 8px;
  visibility: hidden;
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
}

#attachment-form input.button
{
  margin-top: 8px;
}

