/***** RoundCube|Mail mail task styles *****/


#messagetoolbar
{
  position: absolute;
  top: 45px;
  left: 200px;
  right: 250px;
  height: 35px;
  white-space: nowrap;
/*  border: 1px solid #cccccc; */
}

#messagetoolbar a
{
  padding-right: 10px;
}

#messagetoolbar select
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333;
}

#messagetoolbar select.mboxlist
{
  position: absolute;
  left: 375px;
  top: 10px;
}

#messagetoolbar select.mboxlist option
{
  padding-left: 15px;
}

#messagetoolbar select.mboxlist option[value="0"]
{
  padding-left: 2px;
}

#listcontrols
{
  position: absolute;
  left: 200px;
  bottom: 20px;
  height: 16px;
  width: 500px;
  font-size: 11px;
}

#listcontrols a,
#listcontrols a:active,
#listcontrols a:visited,
#mailboxcontrols a,
#mailboxcontrols a:active,
#mailboxcontrols a:visited
{
  color: #999999;
  font-size: 11px;
  text-decoration: none;
}

#listcontrols a.active,
#listcontrols a.active:active,
#listcontrols a.active:visited,
#mailboxcontrols a.active,
#mailboxcontrols a.active:active,
#mailboxcontrols a.active:visited
{
  color: #CC0000;
}

#listcontrols a.active:hover,
#mailboxcontrols a.active:hover
{
  text-decoration: underline;
}

#messagecountbar
{
  position: absolute;
  bottom: 16px;
  right: 30px;
  width: 300px;
  height: 20px;
  text-align: right;
  white-space: nowrap;
}

#messagecountbar span
{
  font-size: 11px;
  color: #333333;
}

#messagepartcontainer
{
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

#mailcontframe
{
  position: absolute;
  top: 85px;
  left: 200px;
  right: 30px;
  bottom: 40px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: auto;
  /* css hack for IE */
  width: expression((parseInt(document.documentElement.clientWidth)-230)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-125)+'px');
}

#mailpreviewframe
{
  position: absolute;
  top: 305px;
  left: 200px;
  right: 30px;
  bottom: 40px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  /* css hack for IE */
  width: expression((parseInt(document.documentElement.clientWidth)-230)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-135-document.getElementById('mailcontframe').offsetHeight)+'px');
}

#messagecontframe
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* css hack for IE */
  width: expression((parseInt(document.documentElement.clientWidth)-230)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-135-document.getElementById('mailcontframe').offsetHeight)+'px');
}

#messagepartframe
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  border: 1px solid #999999;
  background-color: #F9F9F9;
}


#partheader
{
  position: absolute;
  top: 10px;
  left: 220px;
  height: 40px;
}

#partheader table td
{
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  font-size: 11px;
}

#partheader table td.title
{
  color: #666666;
  font-weight: bold;
}


/** mailbox list styles */

#mailboxlist-header
{
  display: block;
  height: 12px;
  padding: 3px 10px 4px 10px;
  background-color: #EBEBEB;
  background-image: url(images/listheader_aqua.gif); 
  border-bottom: 1px solid #999;
  color: #333333;
  font-size: 11px;
  font-weight: bold;  
}

#mailboxlist-container
{
  position: absolute;
  top: 85px;
  left: 20px;
  width: 160px;
  bottom: 40px;
  border: 1px solid #999;
  background-color: #F9F9F9;
  overflow: auto;
  /* css hack for IE */
  height: expression((parseInt(document.documentElement.clientHeight)-125)+'px');
}

#mailboxlist
{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}

#mailboxlist li
{
 /* height: 18px; */
  font-size: 11px;
  background: url(images/icons/folder-closed.png) no-repeat;
  background-position: 10px 1px;
  border-bottom: 1px solid #EBEBEB;
/* IE 5.5  margin-left: -16px; */
}

#mailboxlist li.inbox
{
  background-image: url(images/icons/folder-inbox.png);
}

#mailboxlist li.drafts
{
  background-image: url(images/icons/folder-drafts.png);
}

#mailboxlist li.sent
{
  background-image: url(images/icons/folder-sent.png);
}

#mailboxlist li.junk
{
  background-image: url(images/icons/folder-junk.png);
}

#mailboxlist li.trash
{
  background-image: url(images/icons/folder-trash.png);
}

#mailboxlist li a
{
  display: block;
  padding-left: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

#mailboxlist li, #mailboxlist li.unread
{  
 /* background-image: url(images/mailbox_list.gif); */
}

#mailboxlist li.unread
{
  font-weight: bold;
}

#mailboxlist li.selected
{
  background-color: #929292;
}

#mailboxlist li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#mailboxlist li.droptarget
{
  background-color: #FFFFA6;
}

/* styles for nested folders */
#mailboxlist ul {
  list-style: none;
  padding: 0;
  margin:0;
  border-top: 1px solid #EBEBEB;  
}

#mailboxlist ul li {
  padding-left: 15px;
  background-position: 25px 1px;
}

#mailboxlist li.selected li,
#mailboxlist li.droptarget li {
  background-color: #F9F9F9;
}

#mailboxlist li.unread li {
  font-weight: normal;
}

#mailboxlist li.unread li.unread {
  font-weight: bold;
}

#mailboxlist li.selected li a{
  color: black;
  font-weight: normal;
}


#mailboxcontrols
{
  position: absolute;
  left: 20px;
  width: 170px;
  bottom: 20px;
  height: 16px;
  overflow: hidden;
  font-size: 11px;
}


/** message list styles */

body.messagelist
{
  margin: 0px;
  background-color: #F9F9F9;
}

#messagelist
{
  width: 100%;
  display: table;
  table-layout: fixed;
  /* css hack for IE */
  width: expression(document.getElementById('mailcontframe').clientWidth);
}

#messagelist thead tr td
{
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  border-bottom: 1px solid #999999;
  color: #333333;
  background-color: #EBEBEB;
  background-image: url(images/listheader_aqua.gif); 
  font-size: 11px;
  font-weight: bold;
}

#messagelist thead tr td.sortedASC,
#messagelist thead tr td.sortedDESC
{
  background-image: url(images/listheader_dark.gif); 
}

#messagelist thead tr td.sortedASC a
{
  background: url(images/sort_asc.gif) top right no-repeat;
}

#messagelist thead tr td.sortedDESC a
{
  background: url(images/sort_desc.gif) top right no-repeat;
}

#messagelist thead tr td a
{
  display: block;
  width: auto !important;
  width: 100%;
  color: #333333;
  text-decoration: none;
}

#messagelist tbody tr td
{
  height: 16px;
  padding: 2px;
  padding-right: 4px;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}

#messagelist tbody tr td a
{
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

#messagelist col
{
  display: table-column;
  text-align: left;
  vertical-align: middle;
}

#messagelist tr td.icon
{
  width: 16px;
  vertical-align: middle;
}

#messagelist tr td.subject
{
  overflow: hidden;
  vertical-align: middle;
}

#messagelist tr td.size
{
  width: 70px;
  text-align: right;
  vertical-align: middle;
}

#messagelist tr td.from,
#messagelist tr td.to
{
  width: 180px;
  vertical-align: middle;
}

#messagelist tr td.date
{
  width: 118px;
  vertical-align: middle;
}

#messagelist tr.message
{
  background-color: #FFFFFF;
}

/*
#messagelist tr.odd
{
  background-color: #F9F9F9;
}
*/

#messagelist tr.unread
{
  font-weight: bold;
  background-color: #FFFFFF;
}

#messagelist tr.selected td
{
  color: #FFFFFF;
  background-color: #CC3333;
}

#messagelist tr.unfocused td
{
  color: #FFFFFF;
  background-color: #929292;
}

#messagelist tr.selected td a
{
  color: #FFFFFF;
}

#messagelist tr.unfocused td a
{
  color: #FFFFFF;
}

#messagelist tr.deleted td a
{
  color: #CCCCCC;
}

#messagelist tr.deleted td,
#messagelist tr.deleted td a
{
  color: #CCCCCC;
}


#quotadisplay
{
  color: #666666;
  font-size: 11px;
}

#quotadisplay img
{
  vertical-align: middle;
  margin-left: 4px;
  border: 1px solid #666666;
}


/** message view styles */


#messageframe
{
  position: absolute;
  top: 85px;
  left: 200px;
  right: 30px;
  bottom: 40px;
  border: 1px solid #999;
  background-color: #FFF;
  overflow: auto;
  /* css hack for IE */
  /* margin-bottom: 10px; */
  width: expression((parseInt(document.documentElement.clientWidth)-230)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-125)+'px');
}

div.messageheaderbox
{
  margin: 6px 8px 0px 8px;
  border: 1px solid #ccc;
}

table.headers-table
{
  width: 100%;
  background-color: #EBEBEB;
  table-layout: fixed;
}

#messagebody table.headers-table
{
  width: auto;
  margin: 6px 8px;
  background-color: #F4F4F4;
  border: 1px solid #ccc;
}

table.headers-table tr td
{
  font-size: 11px;
  border-bottom:1px solid #FFFFFF;
}

table.headers-table td.header-title
{
  width: 80px;
  color: #666666;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  padding-right: 4px;
}

table.headers-table tr td.subject
{
  width: 95%;
  font-weight: bold;
}

#attachment-list
{
  margin: 0px;
  padding: 0px 0px 0px 68px;
  min-height: 18px;
  list-style-image: none;
  list-style-type: none;
  background: url(images/icons/attachment.png) 52px 1px no-repeat #DFDFDF;
  /* css hack for IE */
  height: expression(Math.min(18, parseInt(this.clientHeight))+'px');
}

#attachment-list:after
{
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#attachment-list li
{
  float: left;
  height: 18px;
  font-size: 11px;
  padding: 2px 10px 0px 10px;
}

#attachment-list li a
{
  text-decoration: none;
}

#attachment-list li a:hover
{
  text-decoration: underline;
}

#messagebody
{
  position:relative;
  min-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}

div.message-part
{
  padding: 8px;
  padding-top: 10px;
  overflow: hidden;
}

div.message-part a
{
  color: #0000CC;
}

div.message-part div.pre
{
  margin: 0px;
  padding: 0px;
  white-space: -moz-pre-wrap !important;
  white-space: pre;
  font-family: monospace;
}

div.message-part blockquote
{
  color: blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background-color: #F6F6F6;
  margin: 2px 0px 2px 0px;
  padding: 1px 8px 1px 10px;
}

div.message-part blockquote blockquote
{
  color: green;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

div.message-part blockquote blockquote blockquote
{
  color: #990000;
  border-left: 2px solid #bb0000;
  border-right: 2px solid #bb0000;
}

#remote-objects-message
{
  display: none;
  height: 20px;
  min-height: 20px;
  margin: 8px 8px 0px 8px;
  padding: 10px 10px 6px 46px;  
}

#remote-objects-message a
{
  color: #666666;
  padding-left: 10px;
}

#remote-objects-message a:hover
{
  color: #333333;
}


/** message compose styles */

#priority-selector
{
  position: absolute;
  left: 280px;
  top: 10px;
}

#receipt-selector
{
  position: absolute;
  left: 450px;
  top: 10px;
}

#compose-container
{
  position: absolute;
  top: 90px;
  left: 200px;
  right: 40px;
  bottom: 40px;
  padding: 0px;
  margin: 0px;
  /* css hack for IE */
  width: expression(document.documentElement.clientWidth-240);
  height: expression((parseInt(document.documentElement.clientHeight)-130)+'px');
}

/*
#compose-headers
{
  position: absolute;
  top: 70px;
  left: 200px;
  height: 84px;
  border-top: 1px solid #cccccc;
  overflow: auto;
}

#compose-headers td
{
  padding-top: 1px;
  padding-bottom: 1px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
*/

#compose-headers
{
  width: 100%;
}

/*
#compose-headers td
{
  width: 100%;
}
*/

#compose-headers td.top
{
  vertical-align: top;
}

#compose-headers td.title,
#compose-subject td.title
{
  width: 80px !important;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  padding-right: 10px;
  white-space: nowrap;
}

#compose-headers td.add-button
{
  width: 40px !important;
  text-align: right;
  vertical-align: bottom;
}

#compose-headers td.add-button a
{
  color: #666666;
  font-size: 11px;
  text-decoration: none;
}

#compose-headers td textarea
{
  width: 100%;
  height: 40px;
}

#compose-headers td input
{
  width: 100%;
}

#compose-cc,
#compose-bcc,
#compose-replyto
{
  display: none;
}

#compose-body
{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 99%;
  height: 90%;
  min-height: 280px;
  font-size: 9pt;
  font-family: "Courier New", Courier, monospace;
}

#compose-attachments
{
  position: absolute;
  top: 100px;
  left: 20px;
  width: 160px;
}

#compose-attachments ul
{
  margin: 0px;
  padding: 0px;
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
  list-style-image: none;
  list-style-type: none;
}

#compose-attachments ul li
{
  height: 18px;
  font-size: 11px;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 4px;
  border-bottom: 1px solid #EBEBEB;
  white-space: nowrap;
  overflow: hidden;
}

#attachment-title
{
  background: url(images/icons/attachment.png) top left no-repeat;
  padding: 0px 0px 3px 22px;
}

#attachment-form
{
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 200;
  padding: 8px;
  visibility: hidden;
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
}

#attachment-form input.button
{
  margin-top: 8px;
}

