/***** RoundCube|Mail mail task styles *****/


#messagetoolbar
{
  position: absolute;
  top: 47px;
  left: 200px;
  right: 200px;
  height: 35px;
  min-width: 650px;
  white-space: nowrap;
/*  border: 1px solid #cccccc; */
}

#messagetoolbar > a
{
  display: block;
  float: left;
  padding-right: 10px;
}

#messagetoolbar a.button,
#messagetoolbar a.buttonPas {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-right: 10px;
  overflow: hidden;
  background: url('images/mail_toolbar.png') 0 0 no-repeat transparent;
  opacity: 0.99; /* this is needed to make buttons appear correctly in Chrome */
}

#messagetoolbar a.buttonPas {
  opacity: 0.35;
}

#messagetoolbar a.checkmailSel {
  background-position: 0 -32px;
}

#messagetoolbar a.back {
  background-position: -32px 0;
}

#messagetoolbar a.backSel {
  background-position: -32px -32px;
}

#messagetoolbar a.compose {
  background-position: -64px 0;
}

#messagetoolbar a.composeSel {
  background-position: -64px -32px;
}

#messagetoolbar a.reply {
  background-position: -96px 0;
}

#messagetoolbar a.replySel {
  background-position: -96px -32px;
}

#messagetoolbar a.replyAll {
  background-position: -128px 0;
}

#messagetoolbar a.replyAllSel {
  background-position: -128px -32px;
}

#messagetoolbar a.forward {
  background-position: -160px 0;
}

#messagetoolbar a.forwardSel {
  background-position: -160px -32px;
}

#messagetoolbar a.delete {
  background-position: -192px 0;
}

#messagetoolbar a.deleteSel {
  background-position: -192px -32px;
}

#messagetoolbar a.markmessage {
  background-position: -256px 0;
}

#messagetoolbar a.messagemenu {
  width: 36px;
  background-position: -288px 0;
}

#messagetoolbar a.spellcheck {
  background-position: -386px 0;
}

#messagetoolbar a.spellcheckSel {
  background-position: -386px -32px;
}

#messagetoolbar a.attach {
  background-position: -354px 0;
}

#messagetoolbar a.attachSel {
  background-position: -354px -32px;
}

#messagetoolbar a.savedraft {
  background-position: -322px 0;
}

#messagetoolbar a.savedraftSel {
  background-position: -322px -32px;
}

#messagetoolbar a.send {
  background-position: -418px 0;
}

#messagetoolbar a.sendSel {
  background-position: -418px -32px;
}


#messagetoolbar select,
#compose-container select
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333;
  height: 21px;
}

#messagetoolbar select.mboxlist
{
  position: relative;
  margin: 0 8px;
  top: 6px;
}

#messagetoolbar select.mboxlist option
{
  padding-left: 15px;
}

#messagetoolbar select.mboxlist option[value="0"]
{
  padding-left: 2px;
}

#markmessagemenu,
#searchmenu,
#messagemenu
{
  position: absolute;
  top: 32px;
  left: 90px;
  width: auto;
  display: none;
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  padding: 1px;
  opacity: 0.9;
  z-index: 240;
}

#searchmenu
{
  width: 172px;
}

ul.toolbarmenu
{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.toolbarmenu li
{
  font-size: 11px;
  white-space: nowrap;
  min-width: 130px;
}

ul.toolbarmenu li a
{
  display: block;
  color: #a0a0a0;
  padding: 2px 8px 3px 22px;
  text-decoration: none;
  min-height: 14px;
}

ul.toolbarmenu li a.active,
ul.toolbarmenu li a.active:active,
ul.toolbarmenu li a.active:visited
{
  color: #333;
}

ul.toolbarmenu li input
{
  vertical-align: middle;
}

ul.toolbarmenu li hr
{
  color: #ccc;
  width: 130px;
  height: 1px;
  margin: 2px 1px 2px 1px;
}

ul.toolbarmenu li img
{
  float: left;
  margin: 0 2px;
}

ul.toolbarmenu li.separator_below
{
  border-bottom: 1px solid #ccc;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

ul.toolbarmenu li.separator_above
{
  border-top: 1px solid #ccc;
  margin-top: 2px;
  padding-top: 2px;
}

#messagemenu li a.active:hover,
#markmessagemenu li a.active:hover
{
  color: #fff;
  background-color: #c00;
}

#messagemenu li a
{
  background: url('images/messageactions.png') no-repeat 1px 0;
  background-position: 0px 20px;
}

#messagemenu li a.printlink
{
  background-position: 1px 1px;
}

#messagemenu li a.downloadlink
{
  background-position: 1px -17px;
}

#messagemenu li a.sourcelink
{
  background-position: 1px -35px;
}

#messagemenu li a.openlink
{
  background-position: 1px -53px;
}

#messagemenu li a.editlink
{
  background-position: 1px -71px;
}

#markmessagemenu a.readlink
{
  background: url('images/icons/dot.png') no-repeat 2px;
}

#markmessagemenu a.unreadlink
{
  background: url('images/icons/unread.png') no-repeat 2px;
}

#markmessagemenu a.flaggedlink
{
  background: url('images/icons/flagged.png') no-repeat 2px;
}

#markmessagemenu a.unflaggedlink
{
  background: url('images/icons/unflagged.png') no-repeat 2px;
}

#searchfilter
{
  white-space: nowrap;
  position: absolute;
  right: 190px;
  vertical-align: middle;
}

#searchfilter label
{
  font-size: 11px;
}

#listcontrols a,
#listcontrols a:active,
#listcontrols a:visited,
#mailboxcontrols a,
#mailboxcontrols a:active,
#mailboxcontrols a:visited,
td.formlinks a,
td.formlinks a:visited
{
  color: #999999;
  font-size: 11px;
  text-decoration: none;
}

#listcontrols a.active,
#listcontrols a.active:active,
#listcontrols a.active:visited,
#mailboxcontrols a.active,
#mailboxcontrols a.active:active,
#mailboxcontrols a.active:visited,
td.formlinks a,
td.formlinks a:visited
{
  color: #CC0000;
}

#listcontrols a.active:hover,
#mailboxcontrols a.active:hover
{
  text-decoration: underline;
}

#listcontrols
{
  padding-right: 2em;
}

#messagecountbar
{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 16px;
  text-align: right;
  white-space: nowrap;
}

#messagecountbar span
{
  font-size: 11px;
  color: #333333;
}

#mainscreen
{
  position: absolute;
  top: 85px;
  right: 20px;
  bottom: 16px;
  left: 20px;
}

#mailleftcontainer
{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 170px;
}

#mailrightcontainer
{
  position: absolute;
  top: 0px;
  left: 170px;
  bottom: 0px;
  right: 0px;
}

#mailrightcontent
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 20px;
}

#messagepartcontainer
{
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

#mailcontframe
{
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#mailpreviewframe
{
  position: absolute;
  width: 100%;
  top: 205px;
  bottom: 0px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
}

#messagecontframe
{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

#messagepartframe
{
  width: 100%;
  height: 100%;
  border: 1px solid #999999;
  background-color: #F9F9F9;
}


#partheader
{
  position: absolute;
  top: 10px;
  left: 220px;
  right: 20px;
  height: 40px;
}

#partheader table td
{
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  font-size: 11px;
}

#partheader table td.title
{
  color: #666666;
  font-weight: bold;
}


/** mailbox list styles */

#mailboxlist-header
{
  display: block;
  height: 12px;
  margin: 0;
  padding: 3px 10px 4px 10px;
  background: url('images/listheader.gif') top left repeat-x #CCC;
  border-bottom: 1px solid #999;
  color: #333333;
  font-size: 11px;
  font-weight: bold;  
}

#mailboxlist-container
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 20px;
  border: 1px solid #999;
  background-color: #F9F9F9;
  overflow: auto;
}

#mailboxlist
{
  position:relative;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}

#mailboxlist li
{
  display: block;
  position: relative;
  font-size: 11px;
  background: url('images/icons/folders.png') 5px 1px no-repeat;
  border-bottom: 1px solid #EBEBEB;
}

#mailboxlist li div
{
  position: absolute;
  left: 8px !important;
  left: -16px;
  top: 2px;
  width: 14px;
  height: 16px;
}

#mailboxlist li div.collapsed,
#mailboxlist li div.expanded
{
  cursor: pointer;
}

#mailboxlist li div.collapsed
{
  background: url('images/icons/collapsed.png') bottom right no-repeat;
}

#mailboxlist li div.expanded
{
  background: url('images/icons/expanded.png') bottom right no-repeat;
}

#mailboxlist li.inbox
{
  background-position: 5px -19px;
}

#mailboxlist li.drafts
{
  background-position: 5px -40px;
}

#mailboxlist li.sent
{
  background-position: 5px -60px;
}

#mailboxlist li.junk
{
  background-position: 5px -80px;
}

#mailboxlist li.trash
{
  background-position: 5px -100px;
}

#mailboxlist li a
{
  cursor: default;
  display: block;
  position: relative;
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

#mailboxlist li.unread
{
  font-weight: bold;
}

#mailboxlist li.virtual > a
{
  color: #666;
}

#mailboxlist li.selected,
#mailboxlist li.droptarget li.selected
{
  background-color: #929292;
}

#mailboxlist li.selected > a,
#mailboxlist li.droptarget li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#mailboxlist li.droptarget
{
  background-color: #FFFFA6;
}

/* styles for nested folders */
#mailboxlist ul {
  list-style: none;
  padding: 0;
  margin:0;
  border-top: 1px solid #EBEBEB;  
  padding-left: 15px;
  background-position: 25px 1px;
  background-color: #F9F9F9;
  color: blue;
  font-weight: normal;
}

#mailfooter
{
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 16px;
  width: 100%;
}

#mailfooter table tr td
{
  white-space: nowrap;
  vertical-align: bottom;
}

#mailboxcontrols
{
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 16px;
  width: auto;
  font-size: 11px;
}

#listcontrols,
#countcontrols,
#quotabox
{
  white-space: nowrap;
  font-size: 11px;
}

#countcontrols
{
  min-width: 25em;
}

#countcontrols a.button,
#countcontrols a.buttonPas,
#messagecountbar a.button,
#messagecountbar a.buttonPas
{
  float: right;
}


/** message list styles */

body.messagelist
{
  margin: 0px;
  background-color: #F9F9F9;
}

#messagelist
{
  width: 100%;
  display: table;
  table-layout: fixed;
}

#messagelist thead tr td
{
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  border-bottom: 1px solid #999999;
  color: #333333;
  background: url('images/listheader.gif') top left repeat-x #CCC;
  font-size: 11px;
  font-weight: bold;
}

#messagelist thead tr td.sortedASC,
#messagelist thead tr td.sortedDESC
{
  background-position: 0 -20px;
}

#messagelist thead tr td.sortedASC a
{
  background: url('images/icons/sort.gif') right 0 no-repeat;
}

#messagelist thead tr td.sortedDESC a
{
  background: url('images/icons/sort.gif') right -14px no-repeat;
}

#messagelist thead tr td a
{
  display: block;
  width: auto !important;
  width: 100%;
  color: #333333;
  text-decoration: none;
}

#messagelist tbody tr td
{
  height: 16px;
  padding: 2px;
  padding-right: 4px;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  border-bottom: 1px solid #EBEBEB;
  cursor: default;
}

#messagelist tbody tr td a
{
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  cursor: inherit;
}

#messagelist tbody tr td.subject a
{
  cursor: default;
}

#messagelist col
{
  display: table-column;
  text-align: left;
  vertical-align: middle;
}

#messagelist tr td.icon,
#messagelist tr td.flag
{
  width: 16px;
  vertical-align: middle;
  cursor: pointer;
}

#messagelist tbody tr td.flag img:hover,
#messagelist thead tr td.flag img
{
  background: url(images/icons/unflagged.png) center no-repeat;
}

#messagelist tr td.subject
{
  overflow: hidden;
  vertical-align: middle;
  width: 99%;
}

#messagelist tr td.size
{
  width: 70px;
  text-align: right;
  vertical-align: middle;
}

#messagelist thead tr td.size
{
  text-align: left;
}

#messagelist tr td.from,
#messagelist tr td.to
{
  width: 180px;
  vertical-align: middle;
}

#messagelist tr td.date
{
  width: 118px;
  vertical-align: middle;
}

#messagelist tr.message
{
  background-color: #FFFFFF;
}

/*
#messagelist tr.odd
{
  background-color: #F9F9F9;
}
*/

#messagelist tr.unread
{
  font-weight: bold;
  background-color: #FFFFFF;
}

#messagelist tr.flagged td,
#messagelist tr.flagged td a
{
  color: #CC0000;
}

#messagelist tr.selected td
{
  color: #FFFFFF;
  background-color: #CC3333;
}

#messagelist tr.unfocused td
{
  color: #FFFFFF;
  background-color: #929292;
}

#messagelist tr.selected td a
{
  color: #FFFFFF;
}

#messagelist tr.unfocused td a
{
  color: #FFFFFF;
}

#messagelist tr.deleted td,
#messagelist tr.deleted td a
{
  color: #CCCCCC;
}

#quotadisplay
{
  color: #666666;
  font-size: 11px;
}

#quotadisplay img
{
  vertical-align: middle;
  margin-left: 4px;
  border: 1px solid #999;
}


/** message view styles */

#messageframe
{
  position: absolute;
  top: 0px;
  left: 180px;
  right: 0px;
  bottom: 20px;
  border: 1px solid #999;
  background-color: #FFF;
  overflow: auto;
  z-index: 1;
}

#printmessageframe
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid #999;
  background-color: #FFF;
  overflow: auto;
}

div.messageheaderbox
{
  margin: 6px 8px 0px 8px;
  border: 1px solid #ccc;
}

table.headers-table
{
  width: 100%;
  background-color: #EBEBEB;
  table-layout: fixed;
}

#messagebody table.headers-table
{
  width: auto;
  margin: 6px 8px;
  background-color: #F4F4F4;
  border: 1px solid #ccc;
}

#messageframe table.headers-table
{
  border-bottom: 1px solid #ccc;
}

table.headers-table tr td
{
  font-size: 11px;
  border-bottom:1px solid #FFFFFF;
}

table.headers-table td.header-title
{
  width: 80px;
  color: #666666;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  padding-right: 4px;
}

table.headers-table tr td.subject
{
  width: 90%;
  font-weight: bold;
}

table.headers-table tr td.all
{
  width: 100%;
  color: #666666;
  text-align: left;
  padding-right: 10px;
  text-align: center;
  padding: 2px 6px 4px 6px;
  border-bottom: 0;
}

table.headers-table tr td.more-headers
{
  cursor: pointer;
  width: 100%;
  height: 8px;
  border-bottom: 0;
}

#attachment-list
{
  margin: 0px;
  padding: 0px 0px 0px 72px;
  min-height: 16px;
  list-style-image: none;
  list-style-type: none;
  background: url(images/icons/attachment.png) 60px 2px no-repeat #DFDFDF;
}

#attachment-list:after
{
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#attachment-list li
{
  float: left;
  height: 18px;
  font-size: 11px;
  padding: 2px 0px 0px 15px;
  white-space: nowrap;
}

#attachment-list li a
{
  text-decoration: none;
}

#attachment-list li a:hover
{
  text-decoration: underline;
}

#messagebody
{
  position:relative;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}

div.message-part
{
  padding: 10px 8px;
  border-top: 1px solid #ccc;
/*  overflow: hidden; */
}

#messagebody div:first-child
{
  border-top: 0;
}

div.message-part a,
div.message-htmlpart a
{
  color: #0000CC;
}

div.message-part pre,
div.message-htmlpart pre,
div.message-part div.pre
{
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  white-space: -moz-pre-wrap !important;
  white-space: pre-wrap !important;
  white-space: pre;
}

div.message-part span.sig
{
  color: #666666;
}

div.message-part blockquote
{
  color: blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background-color: #F6F6F6;
  margin: 2px 0px 2px 0px;
  padding: 1px 8px 1px 10px;
}

div.message-part blockquote blockquote
{
  color: green;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

div.message-part blockquote blockquote blockquote
{
  color: #990000;
  border-left: 2px solid #bb0000;
  border-right: 2px solid #bb0000;
}

body.iframe div.message-htmlpart
{
  margin: 8px;
}

div.message-htmlpart div.rcmBody
{
  margin: 8px;
}

#remote-objects-message
{
  display: none;
  margin: 8px;
  min-height: 20px;
  padding: 10px 10px 6px 46px;
}

#remote-objects-message a
{
  color: #666666;
  padding-left: 10px;
}

#remote-objects-message a:hover
{
  color: #333333;
}

#messageviewlink
{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 15px;
  height: 15px;
  border: 0;
}

/** message compose styles */

#compose-toolbar
{
  white-space: nowrap;
}

#priority-selector,
#receipt-selector
{
  padding-left: 30px;
  white-space: nowrap;
}

#compose-container
{
  position: absolute;
  top: 90px;
  left: 190px;
  right: 25px;
  bottom: 30px;
  margin: 0px;
}

#spellcheck-control
{
  text-align: right;
  padding-top: 3px;
}

#editor-select
{
  float: left;
}

#compose-div
{
  position: absolute;
  top: 130px;
  bottom: 30px;
  width: 100%;
  vertical-align: top;
  padding-top: 2px;
}

#compose-headers
{
  width: 100%;
}

#compose-headers td.top
{
  vertical-align: top;
}

#compose-headers td.title,
#compose-subject td.title
{
  width: 80px !important;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  padding-right: 10px;
  white-space: nowrap;
}

#compose-body,
#compose-headers td textarea,
#compose-headers td input
{
  width: 100%;
}

#compose-headers td textarea
{
  height: 38px;
}

#compose-cc,
#compose-bcc,
#compose-replyto
{
  display: none;
}

#compose-body
{
  min-height: 100px;
  height: 100%;
  font-size: 9pt;
  font-family: "Courier New", Courier, monospace;
}

#compose-attachments
{
  position: absolute;
  top: 100px;
  left: 20px;
  width: 160px;
}

#compose-attachments ul
{
  margin: 0px;
  padding: 0px;
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
  list-style-image: none;
  list-style-type: none;
}

#compose-attachments ul li
{
  height: 18px;
  font-size: 11px;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 4px;
  border-bottom: 1px solid #EBEBEB;
  white-space: nowrap;
  overflow: hidden;
}

#compose-attachments ul li img
{
  padding-right: 2px;
  vertical-align: middle;
}

#attachment-title
{
  background: url(images/icons/attachment.png) top left no-repeat;
  padding: 0px 0px 3px 22px;
}

#attachment-form
{
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 200;
  padding: 6px;
  visibility: hidden;
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
}

#attachment-form div
{
  padding: 2px;
}

#attachment-form div.buttons
{
  margin-top: 4px;
}

td.show-headers
{
  background: url(images/icons/down_small.gif) no-repeat center;
}

td.hide-headers
{
  background: url(images/icons/up_small.gif) no-repeat center;
}

#all-headers
{
  height: 150px;
  display: none;
}

#headers-source
{
  margin: 0 5px;
  padding: 0.5em;
  height: 145px;
  background: white;
  overflow: auto;
  font-size: 11px;
  white-space: nowrap;
  border: 1px solid #999999;
  display: none;
  text-align: left;
  color: #333;
}

font.bold
{
  font-weight: bold;
}
