/***** Roundcube|Mail settings task styles *****/

#rcmfd_timezone
{
  width: 300px;
}

#folder-manager.droptarget
{
  border: 1px solid #CC3333;
  background-color: #FFFFA6;
}

#identities-table,
#subscription-table,
#sections-table
{
  width: 100%;
  table-layout: fixed;
}

#subscription-table input
{
  font: inherit;
}

#subscription-table tbody td,
#identities-table tbody td,
#sections-table tbody td
{
  cursor: default;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  height: 18px;
}

#subscription-table tr.virtual td
{
  color: #666;
}

#subscription-table tr.selected td
{
  color: #FFFFFF;
  background-color: #CC3333;
}

#subscription-table tr.droptarget td
{
  background-color: #FFFFA6;
}

#subscription-table td.name
{
  width: 99%;
}

#subscription-table td.subscribed
{
  width: 18px;
}

#identity-frame
{
  position: relative;
  margin-top: 20px;
  border: 1px solid #999999;
}

#identity-details,
#folder-box,
#prefs-box
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #999999;
  overflow: auto;
  background-color: #F2F2F2;
}

#identity-details table td.title,
#folder-details table td.title
{
  font-weight: bold;
  text-align: right;
}

input.disabled
{
  color: #999999;
}

#bottomboxes
{
  position: absolute;
  width: 600px;
  height: 95px;
  left: 0;
  bottom: 0;
}

#identities-list,
#folder-manager,
#sectionslist
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: hidden;
}

body.iframe,
#prefs-frame,
#folder-frame
{
  background-color: #F2F2F2;
  border: none;
}

#formfooter
{
  width: 100%;
}

#formfooter .footerleft
{
  padding-left: 15px;
  white-space: nowrap;
  float: left;
}

#formfooter .footerright
{
  padding-right: 15px;
  white-space: nowrap;
  text-align: right;
  float: right;
}

#quota
{
  position: absolute;
  top: 3px;
  right: 8px;
  width: 100px;
}

#quotaimg
{
  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 101;
}
