<roundcube:include file="/includes/layout.html" />
<roundcube:include file="/includes/menu.html" />

<h1 class="voice"><roundcube:label name="addressbook" /></h1>

<!-- sources/groups list -->
<div id="sidebar" class="sidebar listbox" role="navigation" aria-labelledby="directorylist-header">
	<div class="header">
		<a class="button icon menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
		<span id="directorylist-header" class="header-title"><roundcube:label name="groups" /></span>
	</div>
	<div class="scroller">
		<roundcube:object name="directorylist" id="directorylist" class="treelist listing iconized" />
		<h3 class="voice"><roundcube:label name="savedsearches" /></h3>
		<roundcube:object name="savedsearchlist" id="savedsearchlist" class="treelist listing iconized" />
	</div>
	<div class="footer">
		<roundcube:button command="group-create" type="link" title="newgroup" class="listbutton add disabled" classAct="listbutton add" innerClass="inner" label="addgroup" />
		<roundcube:button name="groupoptions" type="link" title="moreactions" class="listbutton groupactions" data-popup="groupoptions-menu" innerClass="inner" label="arialabelabookgroupoptions" />
	</div>
</div>

<!-- contacts list -->
<div id="list" class="list listbox selected" aria-labelledby="aria-label-contactslist">
	<roundcube:object name="addresslisttitle" label="contacts" tag="h2" class="voice" id="aria-label-contactslist" />
	<div class="header">
		<a class="button icon menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
		<a class="button icon back-sidebar-button" href="#sidebar"><span class="inner"><roundcube:label name="groups" /></span></a>
		<roundcube:object name="addresslisttitle" label="contacts" tag="span" class="header-title" />
		<roundcube:object name="searchform" id="searchform" wrapper="searchbar toolbar"
			label="contactsearchform" buttontitle="findcontacts" options="search-menu" ariatag="h2" />
	</div>
	<div class="scroller">
		<roundcube:object name="addresslist" id="contacts-table" class="listing iconized" noheader="true"
			role="listbox" data-list="contact_list" />
	</div>
	<div class="footer">
		<div class="toolbar">
			<roundcube:button command="firstpage" type="link"
				class="button firstpage disabled" classAct="button firstpage"
				title="firstpage" label="first" innerclass="inner" />
			<roundcube:button command="previouspage" type="link"
				class="button prevpage disabled" classAct="button prevpage"
				title="previouspage" label="previous" innerclass="inner" />
			<roundcube:button command="nextpage" type="link"
				class="button nextpage disabled" classAct="button nextpage"
				title="nextpage" label="next" innerclass="inner" />
			<roundcube:button command="lastpage" type="link"
				class="button lastpage disabled" classAct="button lastpage"
				title="lastpage" label="last" innerclass="inner" />
		</div>
		<roundcube:button command="add" type="link" title="newcontact" class="listbutton add disabled" classAct="listbutton add" innerClass="inner" label="addcontact" />
		<roundcube:button command="delete" type="link" title="deletecontact" class="listbutton delete disabled" classAct="listbutton delete" innerClass="inner" label="deletecontact" />
		<roundcube:button command="group-remove-selected" type="link" title="groupremoveselected" class="listbutton removegroup disabled" classAct="listbutton removegroup" innerClass="inner" label="groupremoveselected" />
		<span class="countdisplay" aria-live="polite" aria-relevant="text">
			<span class="voice"><roundcube:label name="contacts" /></span>
			<roundcube:object name="recordsCountDisplay" label="fromtoshort" />
		</span>
	</div>
</div>

<!-- contact details frame -->
<div id="content" class="content" role="main">
	<h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
	<div class="header" role="toolbar" aria-labelledby="aria-label-toolbar">
		<a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
		<span class="header-title"></span>
		<!-- toolbar -->
		<div id="addressbooktoolbar" class="toolbar">
			<roundcube:button command="import" type="link"
				class="button import disabled" classAct="button import"
				label="import" title="importcontacts" innerclass="inner" />
			<span class="dropbutton">
				<roundcube:button command="export" type="link"
					class="button export disabled" classAct="button export"
					label="export" title="exportvcards" innerclass="inner" />
				<a href="#export" class="button dropdown" data-popup="export-menu">
					<span class="inner"><roundcube:label name="arialabelcontactexportoptions" /></span>
				</a>
			</span>
			<span class="spacer"></span>
			<roundcube:button command="compose" type="link"
				class="button compose disabled" classAct="button compose"
				label="compose" title="writenewmessage" innerclass="inner" />
			<roundcube:button command="print" type="link"
				class="button print disabled" classAct="button print"
				label="print" title="printcontact" innerclass="inner" />
			<roundcube:button command="advanced-search" type="link"
				class="button search disabled" classAct="button search"
				label="advanced" title="advsearch" innerclass="inner" />
			<roundcube:container name="toolbar" id="addressbooktoolbar" />
		</div>
	</div>
	<roundcube:object name="addressframe" id="contact-frame" src="/watermark.html" title="contactproperties" />
</div>

<!-- popup menus -->
<div id="export-menu" class="ui popup">
	<h3 id="aria-label-exportmenu" class="voice"><roundcube:label name="arialabelcontactexportoptions" /></h3>
	<ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-exportmenu">
		<roundcube:button type="link-menuitem" command="export" label="exportall" prop="sub" class="exportalllink" classAct="exportalllink active" />
		<roundcube:button type="link-menuitem" command="export-selected" label="exportsel" prop="sub" class="exportsellink" classAct="exportsellink active" />
	</ul>
</div>

<div id="groupoptions-menu" class="ui popup">
	<h3 id="aria-label-groupoptions" class="voice"><roundcube:label name="arialabelabookgroupoptions" /></h3>
	<ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-groupoptions">
		<roundcube:button type="link-menuitem" command="group-rename" label="grouprename" classAct="active" />
		<roundcube:button type="link-menuitem" command="group-delete" label="groupdelete" classAct="active" />
		<roundcube:button type="link-menuitem" command="search-create" label="searchsave" classAct="active" />
		<roundcube:button type="link-menuitem" command="search-delete" label="searchdelete" classAct="active" />
		<roundcube:container name="groupoptions" id="groupoptionsmenu" />
	</ul>
</div>

<div id="search-menu" class="ui popup" data-editable="true" data-popup-init="searchmenu">
	<h3 id="aria-label-searchmenu" class="voice"><roundcube:label name="searchmod" /></h3>
	<ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-searchmenu">
		<li role="menuitem"><label><input type="checkbox" name="s_mods[]" value="name" id="s_mod_name" /> <span><roundcube:label name="name" /></span></label></li>
		<li role="menuitem"><label><input type="checkbox" name="s_mods[]" value="firstname" id="s_mod_firstname" /> <span><roundcube:label name="firstname" /></span></label></li>
		<li role="menuitem"><label><input type="checkbox" name="s_mods[]" value="surname" id="s_mod_surname" /> <span><roundcube:label name="surname" /></span></label></li>
		<li role="menuitem"><label><input type="checkbox" name="s_mods[]" value="email" id="s_mod_email" /> <span><roundcube:label name="email" /></span></label></li>
		<li role="menuitem"><label><input type="checkbox" name="s_mods[]" value="*" id="s_mod_all" /> <span><roundcube:label name="allfields" /></span></label></li>
	</ul>
	<div class="buttons"><button class="btn btn-primary icon search" href="#" onclick="if (rcmail.command('search')) UI.show_popup('searchmenu',false)"><roundcube:label name="search" /></button></div>
</div>

<div id="dragcontact-menu" class="ui popup">
	<ul class="toolbarmenu listing" role="menu">
		<roundcube:button type="link-menuitem" command="move" onclick="return rcmail.drag_menu_action('move')" label="move" classAct="active" />
		<roundcube:button type="link-menuitem" command="copy" onclick="return rcmail.drag_menu_action('copy')" label="copy" classAct="active" />
	</ul>
</div>

<roundcube:include file="/includes/footer.html" />
