<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:object name="steptitle" /></h1>

<roundcube:form name="editform" method="post" id="contact-details" class="formcontent">
	<roundcube:if condition="strlen(env:sourcename)" />
		<div id="sourcename">
			<roundcube:label name="addressbook" />: <roundcube:var name="env:sourcename" condition="env:action!='add'" />
			<roundcube:object name="sourceselector" id="sourceselect" condition="env:action=='add'" />
		</div>
	<roundcube:endif />

	<fieldset id="contactphoto">
		<legend class="voice"><roundcube:label name="contactphoto" /></legend>
		<roundcube:object name="contactphoto" id="contactpic" class="image-upload" placeholder="/images/contactpic.png" />
		<roundcube:if condition="env:photocol" />
			<roundcube:object name="fileDropArea" id="contactpic" />
		<roundcube:endif />
	</fieldset>

	<roundcube:object name="contactedithead" id="contacthead" size="16" form="editform" />
	<br style="clear:both">
	<div id="contacttabs" class="tabbed">
		<roundcube:object name="contacteditform" size="40" textareacols="60" form="editform" />
	</div>
</form>

<div class="formbuttons">
	<roundcube:button command="save" class="btn btn-primary save" label="save" />
	<roundcube:button command="show" class="btn cancel" label="cancel" condition="env:action == 'edit'" />
</div>

<roundcube:object name="photoUploadForm" id="upload-form" mode="smart" />

<roundcube:include file="includes/footer.html" />
