<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:label name="contactproperties" /></h1>

<div class="formcontent">
	<roundcube:if condition="strlen(env:sourcename)" />
		<div id="sourcename"><roundcube:label name="addressbook" />: <roundcube:var name="env:sourcename" /></div>
	<roundcube:endif />
	<div id="contactphoto">
		<roundcube:object name="contactphoto" id="contactpic" placeholder="/images/contactpic.png" placeholderGroup="/images/contactgroup.png" />
	</div>
	<roundcube:object name="contacthead" id="contacthead" />
	<br style="clear:both">
	<div id="contacttabs" class="tabbed">
		<roundcube:object name="contactdetails" />
	</div>
</div>

<div class="formbuttons">
	<roundcube:button command="edit" class="btn btn-primary edit" label="edit" condition="!ENV:readonly" />
	<roundcube:if condition="env:qrcode" />
		<roundcube:button command="qrcode" class="btn qrcode" label="qrcode" />
	<roundcube:endif />
</div>

<roundcube:include file="includes/footer.html" />
