<roundcube:include file="/includes/layout.html" />
<roundcube:include file="/includes/menu.html" />
<roundcube:include file="/includes/settings-menu.html" />

<h1 class="voice"><roundcube:label name="settings" /> : <roundcube:label name="folders" /></h1>

<!-- folders list -->
<div id="list" class="list listbox selected" aria-labelledby="aria-label-prefsection">
	<div class="header">
		<a class="button icon menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
		<a class="button icon back-sidebar-button" href="#sidebar"><span class="inner"><roundcube:label name="settings" /></span></a>
		<roundcube:label name="folders" />
		<roundcube:object name="searchform" id="foldersearch" wrapper="searchbar toolbar"
			label="foldersearchform" buttontitle="findfolders" options="search-filter" ariatag="h2" />
	</div>
	<div class="scroller">
		<roundcube:object name="foldersubscription" form="subscriptionform" id="subscription-table" class="treelist listing folderlist iconized" />
	</div>
	<div class="footer">
		<roundcube:button command="create-folder" type="link" title="createfolder"
			class="listbutton add disabled" classAct="listbutton add" innerClass="inner"
			label="createfolder" />
		<roundcube:button name="mailboxmenulink" type="link"
			title="folderactions" class="listbutton groupactions"
			data-popup="mailbox-menu" innerClass="inner" content="&#9881;" />
		<roundcube:if condition="env:quota" />
			<span class="voice"><roundcube:label name="quota"></span>
			<roundcube:object name="quotaDisplay" id="quotadisplay" class="countdisplay" display="text" />
		<roundcube:endif />
	</div>
</div>

<!-- folder info frame -->
<div id="content" class="content" role="main">
	<div class="header">
		<a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
	</div>
	<roundcube:object name="folderframe" id="preferences-frame" src="/watermark.html" />
</div>

<!-- popup menus -->
<div id="mailbox-menu" class="ui popup">
	<h3 id="aria-label-mailboxmenu" class="voice"><roundcube:label name="arialabelmailboxmenu" /></h3>
	<ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-mailboxmenu">
		<roundcube:button command="delete-folder" type="link-menuitem" label="delete" classAct="active" />
		<roundcube:button command="purge" type="link-menuitem" label="empty" classAct="active" />
		<roundcube:container name="mailboxoptions" id="mailboxoptionsmenu" />
	</ul>
</div>

<div id="search-filter" class="ui popup">
	<roundcube:object name="folderfilter" id="folderlist-filter" class="listing" noheader="true" />
</div>

<roundcube:include file="/includes/footer.html" />
