<roundcube:include file="/includes/layout.html" />
<roundcube:include file="/includes/menu.html" />
<roundcube:if condition="env:task == 'settings'" />
	<roundcube:include file="/includes/settings-menu.html" />
<roundcube:endif />

<div id="content" class="content selected" role="main">
	<div class="header">
		<a class="button back-list-button" href="#back"><i class="chevron left icon"></i><roundcube:label name="back" /></a>
	</div>
	<roundcube:object name="plugin.body" />
</div>

<roundcube:object name="plugin.footer" />

<roundcube:include file="/includes/footer.html" />
