<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body>

<roundcube:include file="/includes/header.html" />

<div id="mainscreen">

<div id="addressbooktoolbar" class="toolbar">
	<roundcube:button command="list" type="link" class="button back disabled" classAct="button back" classSel="button back pressed" label="back" />
</div>

<div class="offset uibox contentbox">
<h2 class="boxtitle"><roundcube:label name="importcontacts" /></h2>

<div class="boxcontent readtext">
<roundcube:object name="importstep" />

<p class="formbuttons">
	<roundcube:object name="importnav" class="button" />
</p>

</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
