<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<roundcube:if condition="env:framed" />
	<body class="iframe">
<roundcube:else />
	<body class="noscroll">

	<roundcube:include file="/includes/header.html" />

	<div id="mainscreen" class="offset">
<roundcube:endif />

<roundcube:if condition="env:task == 'settings' &amp;&amp; !env:framed" />
	<roundcube:include file="/includes/settingstabs.html" />
<roundcube:endif />

<roundcube:if condition="!env:framed" />
	<div id="pluginbody" class="uibox contentbox">
<roundcube:endif />

<roundcube:object name="plugin.body" />

<roundcube:if condition="!env:framed" />
	</div>

	</div>
<roundcube:endif />

<roundcube:object name="plugin.footer" />

<roundcube:include file="/includes/footer.html" />

</body>
</html>
