/* This file contains the CSS data for the editable area(iframe) of TinyMCE */

body, td, pre {
	font-family: "Lucida Grande", Verdana,  Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: #FFFFFF;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 2px;
}

pre
{
	margin: 0;
	padding: 0;
	white-space: -moz-pre-wrap !important;
	white-space: pre-wrap !important;
	white-space: pre;
	word-wrap: break-word; /* IE (and Safari) */
}

blockquote
{
	padding-left: 5px;
	border-left: #1010ff 2px solid;
	margin-left: 5px;
	width: 100%;
}
