<div id="sidebar" class="sidebar listbox<roundcube:exp expression="empty(request:_action) ? ' selected' : ''"/>" role="navigation" aria-labelledby="aria-label-settingstabs">
	<div class="header">
		<a class="button icon menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
		<span id="aria-label-settingstabs" class="header-title"><roundcube:label name="settings" /></span>
	</div>
	<div id="settings-menu" class="scroller">
		<ul class="listing iconized">
			<roundcube:object name="settingstabs" class="listitem" tagname="li" />
		</ul>
		<roundcube:container name="tabs" id="settings-menu" />
	</div>
</div>
