<?php

// enable debug mode
$config['ppolicy_checker_debug'] = false;

// LDAP URI to connect to LDAP servers
$config['ppolicy_checker_uri'] = 'ldaps://ldap2.example.com/ ldap://ldap.example.com';

// LDAP base DN
$config['ppolicy_checker_basedn'] = 'dc=example,dc=com';

// LDAP bind user DN
$config['ppolicy_checker_binddn'] = 'cn=binduser,dc=example,dc=com';

// LDAP bind user password
$config['ppolicy_checker_bindpw'] = 'somepassword';

// CA certificate file if SSL connection to LDAP server is used
$config['ppolicy_checker_cafile'] = '/usr/local/share/ca-certificates/example.cacert.crt';

// DN of the policies container 
$config['ppolicy_checker_policies_basedn'] = 'ou=policies,dc=example,dc=com';

// DN of the default policy
$config['ppolicy_checker_default_policy'] = 'cn=default,ou=policies,dc=example,dc=com';

?>
